<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的产品</title>
    <#include "/header_kuajing.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/product/myProduct.css" media="all">
        <style>
            .layui-col-md3{
                width: 20%;
            }
            .sousuoArea{
                left:400px;
            }
            .el-icon-circle-close{
                position: relative;
                margin-left: -40px;
                color: #bbb;
                margin-right: 21.6px;
                display: none;
            }

        </style>
        </head>
<body>
<div class="box" id="step" v-cloak>
    <!--搜索区域-->
    <div class="search1" style="padding: 0">

        <#if shiro.hasPermission("sys:dept:sign")>
            <el-select v-model="allGongsiValue" filterable @change="chanGongsiFunc" placeholder="请选择公司">
                <el-option
                        v-for="item in allGongsi"
                        :key="item.deptId"
                        :label="item.name"
                        :value="item.deptId"
                >
                </el-option>
            </el-select>
        </#if>


        <el-select v-model="allYUanGValue" placeholder="请选择员工" @focus="getManList">
            <el-option
                    v-for="item in allYUanG"
                    :key="item.userId"
                    :label="item.displayName"
                    :value="item.userId">
            </el-option>
        </el-select>

        <input type="text" class="sousuoAreaInput" placeholder="产品类目" v-model="nowProType" @click="typeClickINput" style="left: 400px">
        <i class="el-icon-circle-close" @click="quxiaoFlSel"></i>
        <div class="sousuoArea">
            <div class="areaOne">
                <ul>
                    <li v-for="categoryOneItem in categoryOneList" :data-id="categoryOneItem.categoryId" :data-pId="categoryOneItem.parentId" :data-if="categoryOneItem.ifNext" :data-val = 'categoryOneItem.categoryName' @click="clickTypeItem"> {{ categoryOneItem.categoryName }}（{{categoryOneItem.count}}）</li>
                </ul>
            </div>
            <div class="areaTwo" v-if="categoryTwoList.length != 0">
                <ul>
                    <li v-for="categoryTwoItem in categoryTwoList" :data-index="2" :data-id="categoryTwoItem.categoryId" :data-pId="categoryTwoItem.parentId" :data-if="categoryTwoItem.ifNext" :data-val = 'categoryTwoItem.categoryName' @click="clickTypeItem"> {{ categoryTwoItem.categoryName }}（{{categoryTwoItem.count}}）</li>
                </ul>
            </div>
            <div class="areaThree" v-if="categoryThreeList.length != 0">
                <ul>
                    <li v-for="categoryThreeItem in categoryThreeList" :data-index="3" :data-id="categoryThreeItem.categoryId" :data-pId="categoryThreeItem.parentId" :data-if="categoryThreeItem.ifNext" :data-val = 'categoryThreeItem.categoryName' @click="clickTypeItem"> {{ categoryThreeItem.categoryName }}（{{categoryThreeItem.count}}）</li>
                </ul>
            </div>
        </div>
        <input type="text" placeholder="标题" v-model="title">
        <input type="text" placeholder="SKU" v-model="sku">
        <div style="display: inline-block;">

            <el-date-picker
                    value-format="yyyy-MM-dd HH:mm:ss"
                    format="yyyy-MM-dd"
                    v-model="value9"
                    type="daterange"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    default-time=['00:00:00','23:59:59']
            >
            </el-date-picker>
        </div>

        <button class="sousuo" @click="selPage()">搜索</button>

        <!--<button class="create" @click="">一键恢复</button>-->
        <!--<button class="create create1" @click="">彻底删除</button>-->

    </div>
    <!--筛选区域-->
    <div class="screen">
        <div class="audit">
            <span>审核状态</span>
            <ul>
                <li class="action"  @click="screenfunAudit" data-index="0">全部<span data-index="0">（{{ audit.auditCounts }}）</span></li>
                <li v-for="(auditItem,index) in audit.auditList" :data-number="auditItem.dataNumber" @click="screenfunAudit" :data-index="index+1">
                    {{ auditItem.dataContent }}<span :data-index="index+1">（{{ auditItem.count }}）</span>
                </li>
            </ul>
        </div>
        <div class="shelve">
            <span>上架状态</span>
            <ul>
                <li class="action" @click="screenfunShelve" data-index="0">全部<span data-index="0">（{{ putaway.putawayCounts }}）</span></li>
                <li v-for="(putawayItem,index) in putaway.putawayList" :data-number="putawayItem.dataNumber" @click="screenfunShelve" :data-index="index+1">
                    {{ putawayItem.dataContent }}<span :data-index="index+1">（{{ putawayItem.count }}）</span>
                </li>
            </ul>
        </div>
        <div class="type">
            <span>产品类型</span>
            <ul>
                <li class="action" @click="screenfunType" data-index="0">全部<span data-index="0">（{{ productType.productTypeCounts }}）</span></li>
                <li v-for="(productTypeItem,index) in productType.productTypeList" :data-number="productTypeItem.dataNumber" @click="screenfunType" :data-index="index+1">
                    {{ productTypeItem.dataContent }}<span :data-index="index+1">（{{ productTypeItem.count }}）</span>
                </li>
            </ul>
        </div>
    </div>


    <!--统计-->
    <div class="statistics" style="width: 100%">
        产品数量: <span>{{ statistics.proNum }}</span>
        审核通过: <span>{{ statistics.via }}</span>
        含变体产品数: <span>{{ statistics.variant }}</span>
        变体总数: <span>{{ statistics.allVariant }}</span>

    </div>



    <!--商品列表-->
    <div class="pro_list" data-click="true">
        <div v-for="(item,index) in proList" class="item" :data-id="item.productId" @click="activePro(index)">
            <!--<img src="${request.contextPath}/statics/kuajing/img/img1.jpg">-->
            <img v-if="JSON.stringify(item.mainImageUrl) != 'null'" :src="item.mainImageUrl">
            <img v-if="JSON.stringify(item.mainImageUrl) == 'null'" src="${request.contextPath}/statics/kuajing/img/img1.jpg">
            <h3 v-if="item.productTitle != ' ' "><a :href="'detailsProduct1.html?id='+item.productId+'page='+proCurr">{{ item.productTitle }}</a></h3>
            <h3 v-if="item.productTitle == ' ' "><a :href="'detailsProduct1.html?id='+item.productId+'page='+proCurr">产品标题</a></h3>
            <div class="footer">
                <p style="overflow:hidden;color: #7799b9;">
                    <span>店铺店铺名名</span>
                    <span style="float: right;">人名人名</span>
                </p>
                <p>时间：{{ item.createTime }}</p>
                <p>编号：{{ item.productId }}</p>
            </div>
            <span class="price">￥<span>{{ item.purchasePrice }}</span></span>
        </div>
        <!-- 鼠标拖拽出的遮罩 （定位为 position:absolute）-->
        <!-- 遮罩最好是在绑定了mouseover事件的元素内部，并且不要阻止遮罩的冒泡事件。这样鼠标移到了遮罩上面，依然可以利用冒泡执行父元素的mouseover事件，就不会出现遮罩只能扩大，不能缩小的情况了（亲自试过） -->
        <!--<div id="moveSelected"></div>-->



    </div>
    <!--分页-->
    <div id="page" style="text-align: center"></div>
    <!--批量删除弹框-->
    <div id="pilUp" style="display: none">
        <h3>批量修改</h3>
        <div class="form_item">
            <div class="item">
                <div>
                    <h4>审核状态</h4>
                </div>
                <div>
                    <input type="radio" class="rdo" name="sex" value="001" v-model="xiugaiData.auditStatus" style="">
                    <label class="rdo-text">通过</label>
                    <input type="radio" class="rdo" name="sex" value="002" v-model="xiugaiData.auditStatus">
                    <label class="rdo-text">待审核</label>
                    <input type="radio" class="rdo" name="sex" value="003" v-model="xiugaiData.auditStatus">
                    <label class="rdo-text">失效</label>

                </div>
            </div>
            <div class="item">
                <div>
                    <h4>上下架</h4>
                </div>
                <div>
                    <input type="radio" class="rdo" name="sex1" value="001" v-model="xiugaiData.shelveStatus" style="">
                    <label class="rdo-text">上架</label>
                    <input type="radio" class="rdo" name="sex1" value="002" v-model="xiugaiData.shelveStatus">
                    <label class="rdo-text">下架</label>
                    <input type="radio" class="rdo" name="sex1" value="003" v-model="xiugaiData.shelveStatus">
                    <label class="rdo-text">过滤</label>
                    <input type="radio" class="rdo" name="sex1" value="004" v-model="xiugaiData.shelveStatus" style="">
                    <label class="rdo-text">侵权</label>
                    <input type="radio" class="rdo" name="sex1" value="005" v-model="xiugaiData.shelveStatus">
                    <label class="rdo-text">屏蔽</label>
                </div>
            </div>
            <div class="item">
                <div>
                    <h4>产品类型</h4>
                </div>
                <div>
                    <input type="radio" class="rdo" name="sex2" value="001" v-model="xiugaiData.productType" style="">
                    <label class="rdo-text">重点</label>
                    <input type="radio" class="rdo" name="sex2" value="002" v-model="xiugaiData.productType">
                    <label class="rdo-text">原创</label>
                    <input type="radio" class="rdo" name="sex2" value="003" v-model="xiugaiData.productType">
                    <label class="rdo-text">海外</label>
                    <input type="radio" class="rdo" name="sex2" value="004" v-model="xiugaiData.productType" style="">
                    <label class="rdo-text">抓取</label>
                    <input type="radio" class="rdo" name="sex2" value="005" v-model="xiugaiData.productType">
                    <label class="rdo-text">其他</label>
                </div>
            </div>
        </div>

        <div class="form_item">
            <div class="item">
                <div>
                    <h4>产品分类</h4>
                </div>
                <div>
                    <input type="text" class="sousuoAreaInput" placeholder="产品类目" v-model="xiugaiData.productCategory" @click="typeClickINput1">
                    <div class="sousuoArea sousuoArea1">
                        <div class="areaOne">
                            <ul>
                                <li v-for="categoryOneItem in categoryOneList" :data-id="categoryOneItem.categoryId" :data-pId="categoryOneItem.parentId" :data-if="categoryOneItem.ifNext" :data-val = 'categoryOneItem.categoryName' @click="clickTypeItem1"> {{ categoryOneItem.categoryName }}（{{categoryOneItem.count}}）</li>
                            </ul>
                        </div>
                        <div class="areaTwo" v-if="categoryTwoList.length != 0">
                            <ul>
                                <li v-for="categoryTwoItem in categoryTwoList" :data-id="categoryTwoItem.categoryId" :data-pId="categoryTwoItem.parentId" :data-if="categoryTwoItem.ifNext" :data-val = 'categoryTwoItem.categoryName' @click="clickTypeItem1"> {{ categoryTwoItem.categoryName }}（{{categoryTwoItem.count}}）</li>
                            </ul>
                        </div>
                        <div class="areaThree" v-if="categoryThreeList.length != 0">
                            <ul>
                                <li v-for="categoryThreeItem in categoryThreeList" :data-id="categoryThreeItem.categoryId" :data-pId="categoryThreeItem.parentId" :data-if="categoryThreeItem.ifNext" :data-val = 'categoryThreeItem.categoryName' @click="clickTypeItem1"> {{ categoryThreeItem.categoryName }}（{{categoryThreeItem.count}}）</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form_item">
            <div class="item">
                <div>
                    <h4>产品信息</h4>
                </div>
                <div>
                    <div class="pro_inf">
                        <span><label for="">厂家：</label><input type="text" placeholder="厂家名称" v-model="xiugaiData.producerName"></span>
                        <span><label for="">厂家编号：</label><input type="text" placeholder="厂家编号" v-model="xiugaiData.manufacturerNumber"></span>
                        <span><label for="">品牌：</label><input type="text" placeholder="品牌名称" v-model="xiugaiData.brandName"></span>
                        <span><label for="">商品简介：</label><input type="text" placeholder="商品简介" v-model="xiugaiData.producerName"></span><br>
                        <span><label for="">重量（kg）：</label><input type="text" placeholder="重量（kg）" v-model="xiugaiData.productWeight"></span>
                        <span><label for="">尺寸（cm）：</label><input class="size_input" type="text" placeholder="长" v-model="xiugaiData.productLength"> * <input class="size_input" type="text" placeholder="宽" v-model="xiugaiData.productWide"> * <input type="text" class="size_input" placeholder="高" v-model="xiugaiData.productHeight"></span><br>
                        <span><label for="">标题前加：</label><input type="text" placeholder="建议填写" v-model="xiugaiData.productTitleQ"></span>
                        <span><label for="">标题后加：</label><input type="text" placeholder="建议填写" v-model="xiugaiData.productTitleH"></span><br>
                        <span><label for="">买点：</label><textarea v-model="xiugaiData.producerName">建议填写</textarea></span><br>
                        <span><label for="">关键词：</label><textarea v-model="xiugaiData.keyWord">建议填写</textarea></span><br>
                        <span><label for="">描述前加：</label><textarea v-model="xiugaiData.productDescriptionQ">建议填写</textarea></span><br>
                        <span><label for="">描述后加：</label><textarea v-model="xiugaiData.productDescriptionH">建议填写</textarea></span><br>
                        <p>
                            <input type="checkbox" >中文

                            <i class="layui-icon layui-icon-spread-left"></i>

                            <input type="checkbox" >英语
                            <input type="checkbox" >法语
                            <input type="checkbox" >德语
                            <input type="checkbox" >意大利语
                            <input type="checkbox" >西班牙语


                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--采集产品分类-->
    <div id="caijiCreate" style="display: none">
        <h3>采集产品</h3>

        <div class="form_item">
            <div class="item">
                <div>
                    <h4>采集网址</h4>
                </div>
                <div>
                    <input type="text" class="" placeholder="采集网址" v-model="caijiUrl" style="width: 200px">
                </div>
            </div>
        </div>

        <div class="form_item">
            <div class="item">
                <div>
                    <h4>产品分类</h4>
                </div>
                <div>
                    <input type="text" class="sousuoAreaInput" placeholder="产品类目" v-model="caijiNowType" @click="typeClickINput2">
                    <div class="sousuoArea sousuoArea2">
                        <div class="areaOne">
                            <ul>
                                <li v-for="categoryOneItem in categoryOneList" :data-id="categoryOneItem.categoryId" :data-pId="categoryOneItem.parentId" :data-if="categoryOneItem.ifNext" :data-val = 'categoryOneItem.categoryName' @click="clickTypeItem2"> {{ categoryOneItem.categoryName }}（{{categoryOneItem.count}}）</li>
                            </ul>
                        </div>
                        <div class="areaTwo" v-if="categoryTwoList.length != 0">
                            <ul>
                                <li v-for="categoryTwoItem in categoryTwoList" :data-id="categoryTwoItem.categoryId" :data-pId="categoryTwoItem.parentId" :data-if="categoryTwoItem.ifNext" :data-val = 'categoryTwoItem.categoryName' @click="clickTypeItem2"> {{ categoryTwoItem.categoryName }}（{{categoryTwoItem.count}}）</li>
                            </ul>
                        </div>
                        <div class="areaThree" v-if="categoryThreeList.length != 0">
                            <ul>
                                <li v-for="categoryThreeItem in categoryThreeList" :data-id="categoryThreeItem.categoryId" :data-pId="categoryThreeItem.parentId" :data-if="categoryThreeItem.ifNext" :data-val = 'categoryThreeItem.categoryName' @click="clickTypeItem2"> {{ categoryThreeItem.categoryName }}（{{categoryThreeItem.count}}）</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<script src="${request.contextPath}/statics/kuajing/js/step/product/allProduct.js"></script>
<!--<script src="${request.contextPath}/statics/js/modules/product/myProduct.js"></script>-->
<!--<script src="${request.contextPath}/statics/kuajing/js/step/product/sousuoArea.js"></script>-->
<!--<script src="${request.contextPath}/statics/kuajing/js/step/product/tuozhaiduoxuan.js"></script>-->
</body>
</html>