<!DOCTYPE html>
<html>
<head>
    <title>亚马逊分类表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("product:amazoncategory:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("product:amazoncategory:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("product:amazoncategory:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">上级id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonCategory.parentId" placeholder="上级id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">类目名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonCategory.categoryName" placeholder="类目名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">展示名称（中文+英文）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonCategory.displayName" placeholder="展示名称（中文+英文）"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">英国节点id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonCategory.nodeIdUk" placeholder="英国节点id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">德国节点id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonCategory.nodeIdDe" placeholder="德国节点id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">法国节点id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonCategory.nodeIdFr" placeholder="法国节点id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">意大利节点id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonCategory.nodeIdIt" placeholder="意大利节点id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">西班牙节点id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonCategory.nodeIdEs" placeholder="西班牙节点id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">所属区域(欧洲0、北美1、远东2）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonCategory.region" placeholder="所属区域(欧洲0、北美1、远东2）"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/product/amazoncategory.js?_${.now?long}"></script>
</body>
</html>