<!DOCTYPE html>
<html>
<head>
    <title>产品认领记录表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("product:claim:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("product:claim:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("product:claim:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">认领产品id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.productId" placeholder="认领产品id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">产品来源公司id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.fromDeptId" placeholder="产品来源公司id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">产品来源公司</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.fromDeptName" placeholder="产品来源公司"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">产品创建人id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.fromUserId" placeholder="产品创建人id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">产品创建人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.fromUserName" placeholder="产品创建人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">产品来源公司id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.toDeptId" placeholder="产品来源公司id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">产品来源公司</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.toDeptName" placeholder="产品来源公司"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">产品创建人id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.toUserId" placeholder="产品创建人id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">产品创建人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.toUserName" placeholder="产品创建人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">操作人公司id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.operatorDeptId" placeholder="操作人公司id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">操作人id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.operatorId" placeholder="操作人id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">操作人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.operatorName" placeholder="操作人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">操作时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="claim.operatorTime" placeholder="操作时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/product/claim.js?_${.now?long}"></script>
</body>
</html>