<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品认领</title>
    <#include "/header_kuajing.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/product/myProduct.css" media="all">
        <style>
            .layui-col-md3{
                width: 20%;
            }
            .sousuoArea{
                left:400px;
            }
            .renl{
                position: absolute;
                top:6px;
                right: 6px;
                padding: 6px 16px;
                border-radius: 5px;
                background: #2f8eea;
                box-shadow: 0 0 10px #3d4a56;
                color: #fff;
                font-size: 13px;
                /*letter-spacing: 3px;*/
                display: none;
                border:0;
                cursor: pointer;
            }
            .pro_list .item:hover .renl{
                display: inline-block;
            }
            #renlTk h3{
                margin: 10px;
                color: #00a3e8;
                font-weight: bold;
            }
            .el-select-dropdown{
                z-index: 200000000!important;
            }
            .el-icon-circle-close{
                position: relative;
                margin-left: -40px;
                color: #bbb;
                margin-right: 21.6px;
                display: none;
            }
        </style>
        </head>
<body>
<div class="box" id="step" v-cloak>
    <!--搜索区域-->
    <div class="search1" style="padding: 0">

        <#if shiro.hasPermission("sys:dept:sign")>
            <el-select v-model="allGongsiValue" filterable @change="chanGongsiFunc" placeholder="请选择公司">
                <el-option
                        v-for="item in allGongsi"
                        :key="item.deptId"
                        :label="item.name"
                        :value="item.deptId"
                >
                </el-option>
            </el-select>
        </#if>


        <el-select v-model="allYUanGValue" placeholder="请选择员工" @focus="getManList">
            <el-option
                    v-for="item in allYUanG"
                    :key="item.userId"
                    :label="item.displayName"
                    :value="item.userId">
            </el-option>
        </el-select>

        <input type="text" class="sousuoAreaInput" placeholder="产品类目" v-model="nowProType" @click="typeClickINput" style="left: 400px">
        <i class="el-icon-circle-close" @click="quxiaoFlSel"></i>
        <div class="sousuoArea">
            <div class="areaOne">
                <ul>
                    <li v-for="categoryOneItem in categoryOneList" :data-id="categoryOneItem.categoryId" :data-pId="categoryOneItem.parentId" :data-if="categoryOneItem.ifNext" :data-val = 'categoryOneItem.categoryName' @click="clickTypeItem"> {{ categoryOneItem.categoryName }}（{{categoryOneItem.count}}）</li>
                </ul>
            </div>
            <div class="areaTwo" v-if="categoryTwoList.length != 0">
                <ul>
                    <li v-for="categoryTwoItem in categoryTwoList" :data-id="categoryTwoItem.categoryId" :data-index="2" :data-pId="categoryTwoItem.parentId" :data-if="categoryTwoItem.ifNext" :data-val = 'categoryTwoItem.categoryName' @click="clickTypeItem"> {{ categoryTwoItem.categoryName }}（{{categoryTwoItem.count}}）</li>
                </ul>
            </div>
            <div class="areaThree" v-if="categoryThreeList.length != 0">
                <ul>
                    <li v-for="categoryThreeItem in categoryThreeList" :data-id="categoryThreeItem.categoryId" :data-index="3" :data-pId="categoryThreeItem.parentId" :data-if="categoryThreeItem.ifNext" :data-val = 'categoryThreeItem.categoryName' @click="clickTypeItem"> {{ categoryThreeItem.categoryName }}（{{categoryThreeItem.count}}）</li>
                </ul>
            </div>
        </div>
        <input type="text" placeholder="标题" v-model="title">
        <input type="text" placeholder="SKU" v-model="sku">
        <div style="display: inline-block;">

            <el-date-picker
                    value-format="yyyy-MM-dd HH:mm:ss"
                    format="yyyy-MM-dd"
                    v-model="value9"
                    type="daterange"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    default-time=['00:00:00','23:59:59']
            >
            </el-date-picker>
        </div>

        <button class="sousuo" @click="selPage()">搜索</button>

        <!--<button class="create" @click="createPro">原创产品</button>-->
        <!--<button class="create create1" @click="caijiProFunc">采集产品</button>-->

    </div>
    <!--筛选区域-->
    <div class="screen">
        <div class="audit">
            <span>审核状态</span>
            <ul>
                <li class="action"  @click="screenfunAudit" data-index="0">全部<span data-index="0">（{{ audit.auditCounts }}）</span></li>
                <li v-for="(auditItem,index) in audit.auditList" :data-number="auditItem.dataNumber" @click="screenfunAudit" :data-index="index+1">
                    {{ auditItem.dataContent }}<span :data-index="index+1">（{{ auditItem.count }}）</span>
                </li>
            </ul>
        </div>
        <div class="shelve">
            <span>上架状态</span>
            <ul>
                <li class="action" @click="screenfunShelve" data-index="0">全部<span data-index="0">（{{ putaway.putawayCounts }}）</span></li>
                <li v-for="(putawayItem,index) in putaway.putawayList" :data-number="putawayItem.dataNumber" @click="screenfunShelve" :data-index="index+1">
                    {{ putawayItem.dataContent }}<span :data-index="index+1">（{{ putawayItem.count }}）</span>
                </li>
            </ul>
        </div>
        <div class="type">
            <span>产品类型</span>
            <ul>
                <li class="action" @click="screenfunType" data-index="0">全部<span data-index="0">（{{ productType.productTypeCounts }}）</span></li>
                <li v-for="(productTypeItem,index) in productType.productTypeList" :data-number="productTypeItem.dataNumber" @click="screenfunType" :data-index="index+1">
                    {{ productTypeItem.dataContent }}<span :data-index="index+1">（{{ productTypeItem.count }}）</span>
                </li>
            </ul>
        </div>
    </div>




    <!--商品列表-->
    <div class="pro_list" data-click="true">
        <div v-for="(item,index) in proList" class="item" :data-id="item.productId" @click="activePro(index)">
            <button class="renl" @click="renlFunc(item.productId)">认领</button>
            <!--<img src="${request.contextPath}/statics/kuajing/img/img1.jpg">-->
            <img v-if="JSON.stringify(item.mainImageUrl) != 'null'" :src="item.mainImageUrl">
            <img v-if="JSON.stringify(item.mainImageUrl) == 'null'" src="${request.contextPath}/statics/kuajing/img/img1.jpg">
            <h3 v-if="JSON.stringify(item.productTitle) != 'null' "><a href="javascript:;">{{ item.productTitle }}</a></h3>
            <h3 v-if="JSON.stringify(item.productTitle) == 'null' "><a href="javascript:;">产品标题</a></h3>
            <div class="footer">
                <p>时间：{{ item.createTime }}</p>
                <p>编号：{{ item.productId }}</p>
            </div>
            <span class="price">￥<span>{{ item.purchasePrice }}</span></span>
        </div>
        <!-- 鼠标拖拽出的遮罩 （定位为 position:absolute）-->
        <!-- 遮罩最好是在绑定了mouseover事件的元素内部，并且不要阻止遮罩的冒泡事件。这样鼠标移到了遮罩上面，依然可以利用冒泡执行父元素的mouseover事件，就不会出现遮罩只能扩大，不能缩小的情况了（亲自试过） -->
        <!--<div id="moveSelected"></div>-->



    </div>
    <!--分页-->
    <div id="page" style="text-align: center"></div>

    <!--认领弹框-->
    <div id="renlTk" style="padding: 16px;display: none">
        <h3>认领到</h3>
        <br>
        <#if shiro.hasPermission("sys:dept:sign")>
            <label for="">选择公司：</label>
            <el-select v-model="allGongsiValue1" filterable @change="chanGongsiFunc" placeholder="请选择公司">
                <el-option
                        v-for="item in allGongsi"
                        :key="item.deptId"
                        :label="item.name"
                        :value="item.deptId"
                >
                </el-option>
            </el-select>
        </#if>

        <br>
        <br>
        <label for="">选择人员：</label>
        <el-select v-model="allYUanGValue1" placeholder="请选择员工" @focus="getManList1">
            <el-option
                    v-for="item in allYUanG"
                    :key="item.userId"
                    :label="item.displayName"
                    :value="item.userId">
            </el-option>
        </el-select>
    </div>


</div>

<script src="${request.contextPath}/statics/kuajing/js/step/product/proClaim.js"></script>
<!--<script src="${request.contextPath}/statics/js/modules/product/myProduct.js"></script>-->
<!--<script src="${request.contextPath}/statics/kuajing/js/step/product/sousuoArea.js"></script>-->
<!--<script src="${request.contextPath}/statics/kuajing/js/step/product/tuozhaiduoxuan.js"></script>-->
</body>
</html>