<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品回收站</title>
    <#include "/header_kuajing.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/product/myProduct.css" media="all">
    <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/product/detailsProduct.css" media="all">
    <style>
        .layui-col-md3 {
            width: 20%;
        }
    </style>
</head>
<body>
<div class="box" id="step">
    <!--搜索区域-->
    <div class="search1">
       <!--<input type="text" class="sousuoAreaInput" placeholder="产品类目">
        <div class="sousuoArea">
            <div class="areaOne">
                <ul>
                    <li v-for="categoryOneItem in categoryOneList" :data-number="categoryOneItem.categoryId">
                        {{ categoryOneItem.categoryName }}<span>（{{ categoryOneItem.count }}）</span>
                    </li>
                </ul>
            </div>
        </div>-->
        <input type="text" class="changeType" placeholder="--选择分类--">
        <input type="text" placeholder="标题" v-mode="title">
        <input type="text" placeholder="SKU" v-mode="sku">
        <div style="display: inline-block;">
            <el-date-picker
                    value-format="yyyy-MM-dd"
                    format="yyyy-MM-dd"
                    v-model="value9"
                    type="date"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    default-value="">
            </el-date-picker>
        </div>

        <button class="sousuo" @click="getPage(1,30)">搜索</button>
        <button class="create" @click="restore">一键恢复</button>

    </div>
    <!--筛选区域-->
    <div class="screen">
        <div class="audit">
            <span>审核状态</span>
            <ul>
                <li class="action">全部<span>（{{ audit.auditCounts }}）</span></li>
                <li v-for="auditItem in audit.auditList" :data-number="auditItem.dataNumber">
                    {{ auditItem.dataContent }}<span>（{{ auditItem.count }}）</span>
                </li>
            </ul>
        </div>
        <div class="shelve">
            <span>上架状态</span>
            <ul>
                <li class="action">全部<span>（{{ putaway.putawayCounts }}）</span></li>
                <li v-for="putawayItem in putaway.putawayList" :data-number="putawayItem.dataNumber">
                    {{ putawayItem.dataContent }}<span>（{{ putawayItem.count }}）</span>
                </li>
            </ul>
        </div>
        <div class="type">
            <span>产品类型</span>
            <ul>
                <li class="action">全部<span>（{{ productType.productTypeCounts }}）</span></li>
                <li v-for="productTypeItem in productType.productTypeList" :data-number="productTypeItem.dataNumber">
                    {{ productTypeItem.dataContent }}<span>（{{ productTypeItem.count }}）</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="statistics" style="width: 100%;">
        产品数量: <span>{{ statistics.proNum }}</span>
        审核通过: <span>{{ statistics.via }}</span>
        含变体产品数: <span>{{ statistics.variant }}</span>
        变体总数: <span>{{ statistics.allVariant }}</span>
    </div>


    <!--商品列表-->
    <div class="pro_list" data-click="true">
        <div v-for="(item,index) in proList" class="item" :data-id="item.productId" @click="activePro(index)">
            <img :src="item.mainImageUrl">
            <h3><a href="detailsProduct1.html">{{ item.productTitle }}</a></h3>
            <div class="footer">
                <p>时间：{{ item.createTime }}</p>
                <p>编号：{{ item.productId }}</p>
            </div>
            <span class="price">￥<span>{{ item.purchasePrice }}</span></span>
        </div>
        <!-- 鼠标拖拽出的遮罩 （定位为 position:absolute）-->
        <!-- 遮罩最好是在绑定了mouseover事件的元素内部，并且不要阻止遮罩的冒泡事件。这样鼠标移到了遮罩上面，依然可以利用冒泡执行父元素的mouseover事件，就不会出现遮罩只能扩大，不能缩小的情况了（亲自试过） -->
        <!--<div id="moveSelected"></div>-->

    </div>
    <!--分页-->
    <div id="page" style="text-align: center"></div>

    <!--分类弹框-->
    <div id="fenleiTankuang" style="">
        <div class="con">

        </div>

    </div>

    <div class="fenleiCon">
        <div class="some-content-related-div" style="width: 100%;margin: 0 auto;">
            <div class="inner-content-div2">
                <!--要加滚动条的具体内容-->
                <ul>
                    <li v-for='item in categoryOneList' :data-id="item.categoryId" :data-ifNext="item.ifNext">{{ item.categoryName }} （{{ item.count }}）</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<script src="${request.contextPath}/statics/kuajing/js/step/product/sousuoArea.js"></script>
<script src="${request.contextPath}/statics/kuajing/js/step/product/proRecycle.js"></script>
</body>
</html>