<!DOCTYPE html>
<html>
<head>
    <title>文件上传</title>
    <script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
    <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/product/zyupload-1.0.0.css" media="all">
</head>
<body>
<h1 style="text-align:center;">上传图片示例</h1>
<div style="position: absolute;top: 100px; left: 20px;">
</div>
<div id="demo" class="zyupload"></div>
<script src="${request.contextPath}/statics/kuajing/js/step/product/zyupload-1.0.0.js"></script>
<script src="${request.contextPath}/statics/kuajing/js/step/product/demo.js"></script>
</body>
</html>