<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传产品</title>
    <#include "/header_kuajing.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/product/upProduct.css" media="all">
    <style>
        .layui-col-md3{
            width: 20%;
        }
    </style>
</head>
<body>
<div class="box" id="step" v-cloak>
    <p>
        <a href="addUpload.html"><button><i class="layui-icon layui-icon-add-1"></i> 添加</button></a>
    </p>

    <table>
        <tr>
            <th>序号</th>
            <!--<th>图片</th>-->
            <th>授权账户</th>
            <th>AMAZON类目</th>
            <th>分类类型</th>
            <th>更新时间</th>
            <th>产品状态</th>
            <th style="text-align: left;width: 270px">操作</th>
        </tr>
        <tr v-for = '(item,index) in prolist'>
            <td>{{ index+1 }}</td>
            <!--<td><img :src="item.mainUrl" alt=""></td>-->
            <td>{{ item.grantShop }}</td>
            <td>{{ item.amazonCategory }}</td>
            <td>{{ item.amazonTemplate }}</td>
            <td>{{ item.updateTime }}</td>
            <td>
                <!--{{ item.uploadState }}-->
                <span v-if="item.uploadState == 0" class="bule1">等待上传</span>
                <span v-if="item.uploadState == 1" class="bule1">正在上传</span>
                <span v-if="item.uploadState == 2" class="bule">上传成功</span>
                <span v-if="item.uploadState == 3" class="red">上传失败</span>
                <span v-if="item.uploadState == 4" class="org">有警告</span>
            </td>
            <td style="text-align: left;width: 270px">
                <div class="operation">
                    <div @click="delFunc(item.uploadId)">
                        <i class="layui-icon layui-icon-delete"></i>
                        <p>删除</p>
                    </div>
                    <div @click="upFunc(item.uploadId)">
                        <i class="layui-icon layui-icon-edit"></i>
                        <p>编辑</p>
                    </div>
                    <div @click="xmlFunc(item.uploadId)" v-if="item.uploadState == 3 || item.uploadState == 4">
                        <i class="layui-icon layui-icon-align-center"></i>
                        <p>报告列表</p>
                    </div>
                    <div @click="reUpFunc(item.uploadId)" v-if="item.uploadState == 3 || item.uploadState == 4">
                        <i class="layui-icon layui-icon-refresh-1"></i>
                        <p>重新上传</p>
                    </div>
                </div>
            </td>
        </tr>
    </table>


    <!--分页-->
    <div id="page" style="text-align: center"></div>
</div>

<script src="${request.contextPath}/statics/kuajing/js/step/product/upProduct.js"></script>
<script src="${request.contextPath}/statics/kuajing/js/step/product/sousuoArea.js"></script>
<!--<script src="${request.contextPath}/statics/kuajing/js/step/product/tuozhaiduoxuan.js"></script>-->
</body>
</html>