<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <#include "/header_kuajing.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/order2/orderDetails.css" media="all">
    <style>
        .layui-col-md3{
            width: 20%;
        }
    </style>

</head>
<body>

<div class="box" id="step" v-cloak>

    <form>
        <p>
            <span class="layui-breadcrumb1" style="visibility: visible;">
              <!--<a :href="'allOrder.html?page='+page">订单列表 / </a>-->
              <a><cite>订单详情</cite></a>
            </span>
            <!--<input type="button" class="return" @click="javascript:window.location.href = 'allOrder.html?page='+page;" value="返回" />-->
            <!--<button class="save">保存并提交</button>-->
        </p>

        <div class="form_item one">
            <div class="item">
                <div>
                    <h4>基本信息</h4>
                    <!--<img src="../../statics/kuajing/img/img1.jpg" alt="">-->
                    <!--<img :src="orderDetails.productImageUrl" alt="">-->
                </div>
                <div>
                    <h4><a :href="orderDetails.amazonProductUrl" target="_blank">{{ orderDetails.productTitle }}</a></h4>
                    <!--<p>sdkfjbsanklnsml;kdgfuasbjkdnlcxm </p>-->
                    <!--<p>{{ orderDetails.shipAddress }}</p>-->
                    <span><label for="">订单ID：</label><span>{{ orderDetails.orderId }}</span></span>
                    <span><label for="">店铺：</label><span>{{ orderDetails.shopName }}</span></span><br>
                    <span><label for="">数量：</label><span>{{ orderDetails.orderNumber }}</span></span>
                    <span><label for="">采购价（￥）：</label><span>{{ orderDetails.purchasePrice }}</span></span>
                    <span><label for="">订单状态：</label><span>{{ orderDetails.orderState }}</span></span>
                    <span><label for="">亚马逊单号：</label><span>{{ orderDetails.amazonOrderId }}</span></span>
                    <span><label for="">购买日期：</label><span>{{ orderDetails.buyDate }}</span></span>
                </div>
            </div>
            
        </div>
        <div class="form_item one" v-for="orderProductItem in orderDetails.orderProductList">
            <div class="item">
                <div>
                    <img :src="orderProductItem.productImageUrl" alt="">
                </div>
                <div>
                    <h4 style="margin-bottom: 20px"><a :href="orderProductItem.amazonProductUrl" target="_blank">{{ orderProductItem.productTitle }}</a></h4>
                    <span v-if="!orderProductItem.productId"><label for="">SKU：</label><span style="color: #12ace8;cursor:pointer;" @click="magSku">{{ orderProductItem.productSku }}</span></span>
                    <span v-if="orderProductItem.productId"><label for="">SKU：</label><span :lay-href="'modules/product/detailsProduct1.html?id='+orderProductItem.productId" layadmin-event="message" lay-text="产品详情" style="color: #12ace8;cursor:pointer;">{{ orderProductItem.productSku }}</span></span>
                    <span><label for="">ASIN：</label><span>{{ orderProductItem.productAsin }}</span></span><br>
                    <span><label for="">数量：</label><span>{{ orderProductItem.orderItemNumber }}</span></span>
                    <span><label for="">金额：</label><span>{{ orderProductItem.productPrice }}</span></span>
                </div>
            </div>
            <div class="item">
                <div>
                    <h4>国内物流</h4>
                </div>
                <div class="pro_inf chengben okEdit">
                    <p style="margin-bottom: 10px;color: #777" v-if="!orderProductItem.domesticLogistics">暂无物流信息</p>
                    <div v-if="orderProductItem.domesticLogistics">

                        <span><label for="">采购价(￥)：</label><input type="text" v-model="orderProductItem.domesticLogistics.price" disabled></span>
                        <span><label for="">物流单号(￥)：</label><a href="javascript:;" data-ok="true" class="logistics" @mouseover="queryLogistic(orderProductItem.domesticLogistics.waybill,$event)" @mouseout="xiaoshiFcun"><input class="" data-ok="true" type="text"  placeholder="物流单号" v-model="orderProductItem.domesticLogistics.waybill" disabled></a></span>
                        <span><label for="">物流公司：</label><input class="" type="text" :placeholder="orderProductItem.domesticLogistics.logisticsCompany" v-model="orderProductItem.domesticLogistics.logisticsCompany" disabled></span>
                        <span><label for="">发货日期(￥)：</label><input type="text" :placeholder="orderProductItem.domesticLogistics.issuanceDate" v-model="orderProductItem.domesticLogistics.issuanceDate" disabled></span>
                        <!--<div class="fr" style="">-->
                            <!--<input class="edit" type="button" value="编辑" @click="edit(orderProductItem.domesticLogistics,$event)">-->
                            <!--<input class="noedit" type="button" value="取消" @click="noedit(orderProductItem.domesticLogistics.waybill,$event)">-->
                            <!--<input class="edit" type="button" value="同步" @click="synchronize(orderProductItem.domesticLogistics)">-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="form_item">
            <div class="item">
                <div>
                    <h4>寄件信息</h4>
                </div>
                <div class="pro_inf okEdit jijian">
                    <div>
                        <span><label for="">收件人：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipName" disabled></span>
                        <span><label for="">TEL：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipTel" disabled></span>
                        <span><label for="">收件人国家：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipCountry" disabled></span>
                        <span><label for="">ZIP：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipZip" disabled></span><br>
                        <span><label for="" style="width: 64px">州：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipRegion" disabled></span>
                        <span><label for="" style="width: 47.8px">市：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipCity" disabled></span>
                        <span><label for="">街道：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipAddressLine1" disabled></span><br>
                        <span><label for="">详细地址：</label><textarea v-model="orderDetails.shipAddress.shipAddressDetail" disabled>
                            {{orderDetails.shipAddress.shipAddressDetail}}
                        </textarea></span>
                        <!--<div class="fr" style="">-->
                            <!--<input class="edit" type="button" value="编辑" @click="editJijian">-->
                            <!--<input class="noedit" type="button" value="取消" @click="noedit">-->
                        <!--</div>-->
                    </div>

                </div>
            </div>
        </div>
        <div class="form_item">

            <div class="item">
                <div>
                    <h4>国际物流</h4>
                </div>
                <div class="pro_inf chengben" v-for="item in orderDetails.abroadLogistics">
                    <!--<p style="margin-bottom: 10px"><input class="addguojiyundan" type="button" value="添加" @click="addorder"></p>-->
                    <div>
                        <span><label for="" style="width: 106px">国际物流单号：</label><span>{{ item.abroadWaybill }}</span></span>
                        <span><label for="" style="width: 96px">国际跟踪号：</label><span>{{ item.trackWaybill }}</span></span>
                        <!--<span><label for="">物流状态：</label><span>{{ orderDetails.abroadLogistics.state }}</span></span>-->
                        <span><label for="" style="width: 80px">国际运费：</label><span>{{ item.interFreight }}</span></span>
                        <span><label for="">物流公司：</label><span>{{ item.destTransportCompany }}</span></span>
                        <span><label for="">物流渠道：</label><span>{{ item.destChannel }}</span></span>
                        <span><label for="">线路：</label><span>{{ item.channeDisplayName }}</span></span>

                        <span><label for="">国内查询跟踪号：</label><span>{{ item.domesticTrackWaybill }}</span></span>
                        <span><label for="">服务查询网址：</label><span>{{ item.serviceQueryUrl }}</span></span>
                        <span><label for="">联系电话：</label><span>{{ item.mobile }}</span></span>
                        <span><label for="">目的地查询网址：</label><span>{{ item.destQueryUrl }}</span></span>
                        <div class="fr">
                            <span v-if="item.state">物流状态：{{item.state}}</span>
                            <span v-if="!item.state" style="margin-right: 10px">物流状态：暂无状态</span>
                            <!--<span>{{ orderDetails.abroadLogistics.state }}</span>-->
                            <span>{{ item.shipTime }}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form_item">
            <div class="item">
                <div>
                    <h4>订单明细</h4>
                </div>
                <div class="details">
                    <table>
                        <tr>
                            <th></th>
                            <th>订单金额 <span>（汇率 {{ orderDetails.momentRate }}）</span></th>
                            <th>Amazon佣金</th>
                            <th>到账金额</th>
                            <th>采购价</th>
                            <th>国际运费</th>
                            <th>平台佣金</th>
                            <th>利润</th>
                            <th>利润率</th>
                            <th>退货费用</th>
                        </tr>
                        <tr class="two">
                            <th>国际币种</th>
                            <td>{{ orderDetails.orderMoneyForeign }}</td>
                            <td>{{ orderDetails.amazonCommissionForeign }}</td>
                            <td>{{ orderDetails.accountMoneyForeign }}</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <th>人民币</th>
                            <td>{{ orderDetails.orderMoney }}</td>
                            <td>{{ orderDetails.amazonCommission }}</td>
                            <td>{{ orderDetails.accountMoney }}</td>
                            <td>{{ orderDetails.purchasePrice }}</td>
                            <td>{{ orderDetails.interFreight }}</td>
                            <td>{{ orderDetails.platformCommissions }}</td>
                            <td>{{ orderDetails.orderProfit }}</td>
                            <td>{{ orderDetails.profitRate }}</td>
                            <td>{{ orderDetails.returnCost }}</td>
                        </tr>
                        <!--<tr class="two">-->
                            <!--<th>国际币种</th>-->
                            <!--<td>{{ orderDetails.orderMoneyForeign }}</td>-->
                            <!--<td>{{ orderDetails.amazonCommissionForeign }}</td>-->
                            <!--<td>{{ orderDetails.accountMoneyForeign }}</td>-->
                            <!--<td>&#45;&#45;</td>-->
                            <!--<td>&#45;&#45;</td>-->
                            <!--<td>&#45;&#45;</td>-->
                            <!--<td>&#45;&#45;</td>-->
                            <!--<td>&#45;&#45;</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th>人民币</th>-->
                            <!--<td>{{ orderDetails.orderMoney }}</td>-->
                            <!--<td>{{ orderDetails.amazonCommission }}</td>-->
                            <!--<td>{{ orderDetails.accountMoney }}</td>-->
                            <!--<td>{{ orderDetails.purchasePrice }}</td>-->
                            <!--<td>{{ orderDetails.interFreight }}</td>-->
                            <!--<td>{{ orderDetails.platformCommissions }}</td>-->
                            <!--<td>{{ orderDetails.orderProfit }}</td>-->
                            <!--<td>{{ orderDetails.returnCost }}</td>-->
                        <!--</tr>-->

                    </table>
                </div>
            </div>
        </div>
        <div class="form_item">

            <div class="item">
                <div>
                    <h4></h4>
                </div>
                <div class="pro_inf chengben">
                    <div class="layui-tab">
                        <ul class="layui-tab-title1">
                            <li class="layui-this" @click="tabFcun">内部备注</li>
                            <li @click="tabFcun">操作日志</li>
                        </ul>
                        <div class="layui-tab-content action">
                            <ul class="operationLog">
                                <li v-if="orderDetails.remarkList.length==0" style="color: #666">暂无备注</li>
                                <li v-if="orderDetails.remarkList.length!=0" v-for="item in orderDetails.remarkList" style="display: flex;">
                                    <span>{{ item.remarkType }}</span>
                                    <span>{{ item.userName }}:</span>
                                    <span style="flex: 1">{{ item.remark }}</span>
                                    <span>{{ item.updateTime }}</span>
                                </li>
                            </ul>
                            <!--<textarea placeholder="留言备注" style="margin-bottom: 10px" v-model="remark"></textarea>-->
                            <!--<br>-->
                            <!--<select id="remark_type" name="remark_type" class="form-control" v-model="remarkType">-->
                                <!--<option value="" selected="selected">内部备注</option>-->
                                <!--<option value="收件人地址异常">收件人地址异常</option>-->
                                <!--<option value="采购异常">采购异常</option>-->
                                <!--<option value="国内快递异常">国内快递异常</option>-->
                                <!--<option value="国际物流异常">国际物流异常</option>-->
                            <!--</select>-->
                            <!--<input type="button" value="添加备注说明" @click="Addnotes">-->
                        </div>
                        <div class="layui-tab-content">
                            <ul class="operationLog">
                                <li v-if="orderDetails.logList.length==0" style="color: #666">暂无日志</li>
                                <li v-if="orderDetails.logList.length!=0" v-for="item in orderDetails.logList"><span>{{ item.updateTime }}</span><span>{{ item.userName }}</span><span>{{ item.remark}}</span></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="logisticsDiv">
            <span class="jiantou"></span>
            <div>
                <p>
                    <span>{{ logistics.express }}</span>:
                    <span>{{ logistics.expressNum }}</span>
                </p>
                <ul>
                    <li v-if="logistics.length == 0">暂无物流</li>
                    <li v-if="logistics.length != 0" v-for="item in logistics">
                        <p>{{ item.context }}</p>
                        <span>{{ item.time }}</span>
                    </li>
                </ul>
            </div>
        </div>




        <!--添加国内物流-->
        <div id="addWul" style="display: none">
            <h3>添加国内物流</h3>
            <span>
                <label for="">采购价</label>
                <input type="text" placeholder="采购价">
            </span>
            <br>
            <span>
            <label for="">物流单号</label>
            <input type="text" placeholder="物流单号">
        </span>
        </div>
    </form>


</div>



<script src="${request.contextPath}/statics/kuajing/js/step/order2/orderDetails.js"></script>
<script src="${request.contextPath}/statics/kuajing/js/layui.js?t=1"></script>
<script>
    layui.config({
        base: '${request.contextPath}/statics/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index','console');
</script>

</body>
</html>