<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <#include "/header_kuajing.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/order2/orderDetails.css" media="all">
    <style>
        .layui-col-md3{
            width: 20%;
        }
        form .pro_inf span span{
            width: auto;
            min-width: 30px;
        }
        .el-select-dropdown{
            z-index:1000000000!important;
        }
        .el-input__suffix{
            margin-right: 0!important;
        }
        .el-input__suffix-inner{
            margin-right: 0!important;
        }
    </style>

</head>
<body>

<div class="box" id="step" v-cloak>

    <form>
        <p>
            <span class="layui-breadcrumb1" style="visibility: visible;">
              <!--<a :href="'allOrder.html?page='+page">订单列表 / </a>-->
              <a><cite>订单详情</cite></a>
            </span>

            <!--<input type="button" class="return" @click="javascript:window.location.href = 'allOrder.html?page='+page;" value="返回" />-->
        </p>

        <div class="form_item one">
            <div class="item">
                <div>
                    <h4>基本信息</h4>
                    <!--<img src="../../statics/kuajing/img/img1.jpg" alt="">-->
                    <!--<img :src="orderDetails.productImageUrl" alt="">-->
                </div>
                <div>
                    <span><label for="">订单ID：</label><span>{{ orderDetails.orderId }}</span></span>
                    <span><label for="">店铺：</label><span>{{ orderDetails.shopName }}</span></span><br>
                    <span><label for="">数量：</label><span>{{ orderDetails.orderNumber }}</span></span>
                    <span><label for="">采购价（￥）：</label><span>{{ orderDetails.purchasePrice }}</span></span>
                    <span><label for="">订单状态：</label><span>{{ orderDetails.orderState }}</span></span>
                    <span><label for="">亚马逊单号：</label><span>{{ orderDetails.amazonOrderId }}</span></span>
                    <span><label for="">购买日期：</label><span>{{ orderDetails.buyDate }}</span></span>
                    <!--<input v-if="orderDetails.orderState == '虚发货'" class="yiFahuo" type="button" value="国内物流已采购" @click="updateState('国内物流已采购')">-->
                    <input v-if="orderDetails.orderState == '国内物流待发货'" class="yiCaigou" type="button" value="通知仓库已发货" @click="updateState('物流仓库未签收')">
                    <input v-if="orderDetails.orderState == '国际已发货'" class="yiCaigou" type="button" value="已完成" @click="updateState('完成')">
                </div>
            </div>
            
        </div>
        <div class="form_item one" v-for="orderProductItem in orderDetails.orderProductList">
            <div class="item">
                <div>
                    <!--<img src="../../statics/kuajing/img/img1.jpg" alt="">-->
                    <img :src="orderProductItem.productImageUrl" alt="">
                </div>
                <div>
                    <h4 style="margin-bottom: 20px"><a :href="orderProductItem.amazonProductUrl" target="_blank">{{ orderProductItem.productTitle }}</a></h4>
                    <span v-if="!orderProductItem.productId"><label for="">SKU：</label><span style="color: #12ace8;cursor:pointer;" @click="magSku">{{ orderProductItem.productSku }}</span></span>
                    <span v-if="orderProductItem.productId"><label for="">SKU：</label><span :lay-href="'modules/product/detailsProduct1.html?id='+orderProductItem.productId" layadmin-event="message" lay-text="产品详情" style="color: #12ace8;cursor:pointer;">{{ orderProductItem.productSku }}</span></span>
                    <span><label for="">ASIN：</label><span>{{ orderProductItem.productAsin }}</span></span><br>
                    <span><label for="">数量：</label><span>{{ orderProductItem.orderItemNumber }}</span></span>
                    <span><label for="">金额：</label><span>{{ orderProductItem.productPrice }}</span></span>
                </div>
            </div>
            <div class="item">
                <div>
                    <h4>国内物流</h4>
                </div>
                <div class="pro_inf chengben okEdit">
                    <p style="margin-bottom: 10px" v-if="!orderProductItem.domesticLogistics">
                        <input v-if="orderDetails.orderState != '待付款' && orderDetails.orderState != '已付款'" class="addguojiyundan" type="button" value="添加" @click="addWuliuFunc(orderProductItem.itemId)">
                        <span v-if="orderDetails.orderState == '待付款' || orderDetails.orderState == '已付款'">暂无物流信息</span>
                    </p>
                    <div v-if="orderProductItem.domesticLogistics">

                        <span><label for="">采购价(￥)：</label><input type="text" v-model="orderProductItem.domesticLogistics.price" disabled></span>
                        <span><label for="">物流单号(￥)：</label><a href="javascript:;" data-ok="true" class="logistics" @click="queryLogistic(orderProductItem.domesticLogistics.waybill,$event)"><input class="" data-ok="true" type="text"  placeholder="物流单号" v-model="orderProductItem.domesticLogistics.waybill" disabled></a></span>
                        <span><label for="">物流公司：</label><input class="" type="text" :placeholder="orderProductItem.domesticLogistics.logisticsCompany" v-model="orderProductItem.domesticLogistics.logisticsCompany" disabled></span>
                        <span><label for="">发货日期(￥)：</label><input type="text" :placeholder="orderProductItem.domesticLogistics.issuanceDate" v-model="orderProductItem.domesticLogistics.issuanceDate" disabled></span>
                        <div class="fr" style="">
                            <input class="edit" type="button" value="编辑" @click="edit(orderProductItem.domesticLogistics,$event)">
                            <input class="noedit" type="button" value="取消" @click="noedit(orderProductItem.domesticLogistics.waybill,$event)">
                            <input class="edit" type="button" value="同步" @click="synchronize(orderProductItem.domesticLogistics)">
                            <input class="edit" type="button" value="入库" @click="ruku(orderProductItem.domesticLogisticsId)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_item">
            <div class="item">
                <div>
                    <h4>寄件信息</h4>
                </div>
                <div class="pro_inf okEdit jijian">
                    <div>
                        <span><label for="">收件人：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipName" disabled></span>
                        <span><label for="">TEL：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipTel" disabled></span>
                        <span><label for="">收件人国家：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipCountry" disabled></span>
                        <span><label for="">ZIP：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipZip" disabled></span><br>
                        <span><label for="" style="width: 64px">州：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipRegion" disabled></span>
                        <span><label for="" style="width: 47.8px">市：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipCity" disabled></span>
                        <span><label for="">街道：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipAddressLine1" disabled></span><br>
                        <span><label for="">详细地址：</label><textarea v-model="orderDetails.shipAddress.shipAddressDetail" disabled>
                            {{orderDetails.shipAddress.shipAddressDetail}}
                        </textarea></span>
                        <div class="fr" style="">
                            <input class="edit" type="button" value="编辑" @click="editJijian">
                            <input class="noedit" type="button" value="取消" @click="noedit1">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form_item">

            <div class="item">
                <div>
                    <h4>国际物流</h4>
                </div>
                <div class="pro_inf chengben">
                    <p>
                        <span @click="addguojiWul" style="color: #00a3e8;cursor: pointer">添加</span>
                    </p>
                    <!--<p style="margin-bottom: 10px">-->
                        <!--<input v-if="orderDetails.orderState == '已付款'" class="addguojiyundan" type="button" value="生成国际运单号" @click="getorderID">-->
                        <!--<input v-if="orderDetails.abroadLogistics.isSynchronization == 0" class="addguojiyundan" type="button" value="同步" @click="tongbu">-->
                        <!--&lt;!&ndash;<input class="addguojiyundan" type="button" value="刷新" @click="getOrderInfo">&ndash;&gt;-->
                    <!--</p>-->
                    <!--<div>-->
                    <div style="margin-bottom: 20px;background:  #f7f5f5;" v-for="(item,index) in orderDetails.abroadLogisticsList">
                        <span><label for="" style="width: 106px">国际物流单号：</label><span>{{ item.abroadWaybill }}</span></span>
                        <span><label for="" style="width: 96px">国际跟踪号：</label><span>{{ item.trackWaybill }}</span></span>
                        <!--<span><label for="">物流状态：</label><span>{{ orderDetails.abroadLogistics.state }}</span></span>-->
                        <span><label for="" style="width: 80px">国际运费：</label><span>{{ item.interFreight }}</span></span><br>
                        <!--<span><label for="">物流公司：</label><span>{{ item.destTransportCompany }}</span></span>-->
                        <!--<span><label for="">物流渠道：</label><span>{{ item.destChannel }}</span></span>-->
                        <span><label for="">线路：</label><span>{{ item.channeDisplayName }}</span></span>
                        <span><label for="">发货时间：</label><span>{{ item.shipTime }}</span></span>

                        <div class="fr">
                            <span style="width: 110px;text-align: center;display: inline-block" v-if="item.state">物流状态：{{item.state}}</span>
                            <span v-if="!item.state" style="margin-right: 10px">物流状态：无状态</span>

                            <!--<span>{{ orderDetails.abroadLogistics.state }}</span>-->
                            <span style="width: 140px;text-align: center;display: inline-block">{{ item.createTime }}</span>
                            <p style="width: 60px;text-align: center">
                                <!--<a v-if="orderDetails.orderState == '已付款'" href="javascript:;" @click="getorderID">生成国际运单号</a>-->
                                <template v-if="item.isSynchronization == 0">
                                    <a v-if="orderDetails.orderState == '虚发货' || orderDetails.orderState == '仓库已入库' || orderDetails.orderState == '国际已发货'" href="javascript:;" @click="tongbu(item.abroadLogisticsId)">同步</a>
                                </template>

                                <span v-if="item.isSynchronization == 1" href="javascript:;" >已同步</span>
                                <span v-if="item.isSynchronization == 2" href="javascript:;" >正在同步</span>
                                <span v-if="item.isSynchronization == 0" href="javascript:;" >未同步</span>
                                <!--<a href="javascript:;" class="detailsOrderA">明细</a>-->
                            </p>
                            <p style="display: block;text-align: right">
                                <span v-if="item.isDeleted == 0" @click="deleWuliu(item.abroadLogisticsId)" style="color: #00a3e8;cursor: pointer">作废</span>
                                <span v-if="item.isDeleted == 1" v-if="deleWuliu(item.isDeleted == 1" style="color: #00a3e8;cursor: pointer">已作废</span>
                                <span @click="dayin(index,item.abroadLogisticsId)" style="color: #00a3e8;cursor: pointer;margin: 0 10px">打印</span>
                                <span @click="detailsguojiWul(index)" style="color: #00a3e8;cursor: pointer">明细</span>
                                <span @click="chuku(item.abroadLogisticsId)" style="color: #00a3e8;cursor: pointer">出库</span>
                            </p>
                        </div>
                    </div>
                    <!--<div v-if="!orderDetails.abroadLogistics.abroadWaybill" style="color: #666">-->
                        <!--暂无物流状态-->
                    <!--</div>-->



                </div>
            </div>
        </div>
        <div class="form_item">
            <div class="item">
                <div>
                    <h4>订单明细</h4>
                </div>
                <div class="details">
                    <table>
                        <tr>
                            <th></th>
                            <th>订单金额 <span>（汇率 {{ orderDetails.momentRate }}）</span></th>
                            <th>Amazon佣金</th>
                            <th>到账金额</th>
                            <th>采购价</th>
                            <th>国际运费</th>
                            <th>平台佣金</th>
                            <th>利润</th>
                            <th>利润率</th>
                            <th>退货费用</th>
                        </tr>
                        <tr class="two">
                            <th>国际币种</th>
                            <td>{{ orderDetails.orderMoneyForeign }}</td>
                            <td>{{ orderDetails.amazonCommissionForeign }}</td>
                            <td>{{ orderDetails.accountMoneyForeign }}</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <th>人民币</th>
                            <td>{{ orderDetails.orderMoney }}</td>
                            <td>{{ orderDetails.amazonCommission }}</td>
                            <td>{{ orderDetails.accountMoney }}</td>
                            <td>{{ orderDetails.purchasePrice }}</td>
                            <td>{{ orderDetails.interFreight }}</td>
                            <td>{{ orderDetails.platformCommissions }}</td>
                            <td>{{ orderDetails.orderProfit }}</td>
                            <td>{{ orderDetails.profitRate }}</td>
                            <td>{{ orderDetails.returnCost }}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="form_item">

            <div class="item">
                <div>
                    <h4></h4>
                </div>
                <div class="pro_inf chengben">
                    <div class="layui-tab">
                        <ul class="layui-tab-title1">
                            <li class="layui-this" @click="tabFcun">内部备注</li>
                            <li @click="tabFcun">操作日志</li>
                        </ul>
                        <div class="layui-tab-content action">
                            <ul class="operationLog">
                                <li v-if="orderDetails.remarkList.length==0" style="color: #666">暂无备注</li>
                                <li v-if="orderDetails.remarkList.length!=0" v-for="item in orderDetails.remarkList" style="display: flex;">
                                    <span>{{ item.remarkType }}</span>
                                    <span>{{ item.userName }}:</span>
                                    <span style="flex: 1">{{ item.remark }}</span>
                                    <span>{{ item.updateTime }}</span>
                                </li>

                            </ul>
                            <textarea placeholder="留言备注" style="margin-bottom: 10px" v-model="remark"></textarea>
                            <br>
                            <select id="remark_type" name="remark_type" class="form-control" v-model="remarkType">
                                <option value="" selected="selected">选择备注类型</option>
                                <option value="内部备注" selected="selected">内部备注</option>
                                <option value="收件人地址异常">收件人地址异常</option>
                                <option value="采购异常">采购异常</option>
                                <option value="国内快递异常">国内快递异常</option>
                                <option value="国际物流异常">国际物流异常</option>
                            </select>
                            <input type="button" value="添加备注说明" @click="Addnotes">
                        </div>
                        <div class="layui-tab-content">
                            <ul class="operationLog">
                                <li v-if="orderDetails.logList.length==0" style="color: #666">暂无日志</li>
                                <li v-if="orderDetails.logList.length!=0" v-for="item in orderDetails.logList"><span>{{ item.updateTime }}</span><span>{{ item.userName }}</span><span>{{ item.remark}}</span></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="logisticsDiv" id="logisticsDiv" style="display: none;">
            <!--<span class="jiantou"></span>-->
            <div>
                <p>
                    <span style="color: #666;">单号：<span>{{logisticsNum}}</span></span>
                    <!--<span>{{ logistics.express }}</span>-->
                    <!--<span>{{ logistics.expressNum }}</span>-->
                </p>
                <ul>
                    <li v-if="logistics.length == 0 && islogistics">暂无物流</li>
                    <li v-if="logistics.length != 0" v-for="item in logistics">
                        <p>{{ item.context }}</p>
                        <span>{{ item.time }}</span>
                    </li>
                </ul>
            </div>
        </div>


        <!--国际运单添加-->
        <div class="addorder" id="addorder" style="display: none">
            <h3>国际运单</h3>

            <!--要加滚动条的具体内容-->
            <div class="form_item one" style="box-shadow: 0 0 0 transparent">
                <div class="item" v-for="orderProductItem in orderProductList">
                    <div>
                        <img :src="orderProductItem.productImageUrl" alt="">
                        <!--<img :src="orderDetails.imgUrl" alt="">-->
                    </div>
                    <div>
                        <p class="addDecP" style="font-weight: bold;font-size: 16px;">{{ orderProductItem.productTitle }}</p>
                        <span><label for="">SKU：</label><span>{{ orderProductItem.productSku }}</span></span>
                        <span><label for="">数量：</label><span>{{ orderProductItem.orderItemNumber }}</span></span>
                        <br>
                        <span><label for="">运输数量：</label>
                            <!--<span>{{ orderProductItem.orderItemNumber }}</span>-->
                            <!--<select name="" v-model="orderProductItem.number">-->
                                <!--<option value="0">0</option>-->
                                <!--<option value="1">1</option>-->
                            <!--</select>-->
                            <el-select v-model="orderProductItem.itemQuantity" filterable placeholder="请选择">
                                <el-option
                                        v-for="item in orderProductItem.numberList"
                                        :key="item"
                                        :label="item"
                                        :value="item">
                                </el-option>
                            </el-select>
                        </span><br>

                    </div>
                </div>
                <div class="item">
                    <div>
                        <h4>运单信息</h4>
                    </div>
                    <div class="pro_inf">
                        <span><label for="">中文：</label><input type="text" placeholder="中文" v-model="wuliuDetails.chineseName"></span>
                        <span><label for="">英文：</label><input type="text" placeholder="英文" v-model="wuliuDetails.englishName"></span><br>
                        <span><label for="">重量（kg）：</label><input type="text" placeholder="重量（kg）" v-model="wuliuDetails.weight"></span>
                        <span style="width: 370px"><label for="">体积（cm）：</label>
                            <input class="size_input" type="text" placeholder="长（CM）" v-model="wuliuDetails.length"> *
                            <input class="size_input" type="text" placeholder="宽（CM）" v-model="wuliuDetails.width"> *
                            <input class="size_input" type="text" placeholder="高（CM）" v-model="wuliuDetails.height">
                        </span><br>
                        <span style="width: auto"><label for="">物流：</label>
                            <el-select v-model="wuliuType" filterable placeholder="请选择">
                                <el-option
                                        key="0"
                                        label="云途小包"
                                        value="0">
                                </el-option>
                                <el-option
                                        key="1"
                                        label="三态大包"
                                        value="1">
                                </el-option>
                            </el-select>
                            <!--<select name="" v-model="wuliuType">-->
                                <!--<option value="0">云途小包</option>-->
                                <!--<option value="1">三态大包</option>-->

                            <!--</select>-->
                            <el-select v-model="value8" filterable placeholder="请选择" @focus="getWuliuXianl">
                                <el-option
                                        v-for="item in guojilogistics"
                                        :key="item.channelId"
                                        :label="item.channelName"
                                        :value="item.channelId">
                                </el-option>
                            </el-select>

                        </span>
                        <span v-if="wuliuType == 1" style="width: auto"><label for="">海关编码：</label>

                            <el-select v-model="itemCodeId" filterable placeholder="请选择" @focus="getHGBM" @change="changeHG">
                                <el-option
                                        v-for="(item,index) in itemCodelist"
                                        :key="item.itemCodeId"
                                        :label="item.name"
                                        :value="item.itemCodeId">
                                </el-option>
                            </el-select>

                        </span>
                        <input type="button" value="生成运单号" @click="createdNum"><br>
                        <span><label for="">运单号：</label><input type="text" placeholder="运单号" v-model="wuliuDetails.addyundanhao" disabled></span>
                        <span><label for="">追踪号：</label><input type="text" placeholder="追踪号" v-model="wuliuDetails.addzhuizonghao" disabled></span>

                    </div>
                </div>

            </div>



        </div>
        <!--国际运单明细-->
        <div class="addorder" id="detailsorder" style="display: none">
            <h3>国际运单</h3>

            <!--要加滚动条的具体内容-->
            <div class="form_item one" style="box-shadow: 0 0 0 transparent;margin: 0">
                <div class="item" v-for="orderProductItem in getWlDetails.orderProductList">
                    <div>
                        <img :src="orderProductItem.productImageUrl" alt="">
                        <!--<img :src="orderDetails.imgUrl" alt="">-->
                    </div>
                    <div>
                        <p class="addDecP" style="font-weight: bold;font-size: 16px;">{{ orderProductItem.productTitle }}</p>
                        <span><label for="">SKU：</label><span>{{ orderProductItem.productSku }}</span></span>
                        <span><label for="">数量：</label><span>{{ orderProductItem.orderItemNumber }}</span><br>
                        <span><label for="">运输数量：</label><span>{{ orderProductItem.itemQuantity }}</span></span><br>

                    </div>
                </div>
                <div class="item">
                    <div>
                        <h4>运单信息</h4>
                    </div>
                    <div class="pro_inf">
                        <span><label for="">运单状态：</label><span style="color: #00a3e8"> {{ getWlDetails.state }} </span></span><br>
                        <span><label for="">中文：</label><input type="text" placeholder="中文" v-model="getWlDetails.chineseName" disabled></span>
                        <span><label for="">英文：</label><input type="text" placeholder="英文" v-model="getWlDetails.englishName" disabled></span><br>
                        <span><label for="">重量（kg）：</label><input type="text" placeholder="重量（kg）" v-model="getWlDetails.weight" disabled></span>
                        <span style="width: 370px"><label for="">体积（cm）：</label>
                            <input class="size_input" type="text" placeholder="长（CM）" v-model="getWlDetails.length" disabled> *
                            <input class="size_input" type="text" placeholder="宽（CM）" v-model="getWlDetails.width" disabled> *
                            <input class="size_input" type="text" placeholder="高（CM）" v-model="getWlDetails.height" disabled>
                        </span><br>
                        <span style="width: auto"><label for="">物流：</label>
                            <span v-if="getWlDetails.packageType == 0">云途小包</span>
                            <span v-if="getWlDetails.packageType == 1">三态大包</span>
                            <span>{{getWlDetails.channelName}}</span>

                            <!--<select name="" v-model="getWlDetails.channelName" disabled>-->
                                <!--<option v-for="item in guojilogistics" :value="item.channel">{{ item.channelName }}</option>-->
                            <!--</select>-->
                        </span>
                        <span v-if="getWlDetails.packageType == 1" style="width: auto"><label for="">海关编码：</label>

                            <span>{{getWlDetails.itemCode}} {{getWlDetails.itemCnMaterial}}</span>

                            <!--<select name="" v-model="getWlDetails.channelName" disabled>-->
                            <!--<option v-for="item in guojilogistics" :value="item.channel">{{ item.channelName }}</option>-->
                            <!--</select>-->
                        </span>

                        <!--<input type="button" value="生成运单号">--><br>
                        <span><label for="">运单号：</label><input type="text" placeholder="运单号" :value="getWlDetails.abroadWaybill" disabled></span>
                        <span><label for="">追踪号：</label><input type="text" placeholder="追踪号" :value="getWlDetails.trackWaybill" disabled></span>

                    </div>
                </div>

            </div>
        </div>

        <!--添加国内物流-->
        <div id="addWul" style="display: none">
            <h3>添加国内物流</h3>
            <span>
                <label for="">采购价</label>
                <input type="text" placeholder="采购价" v-model="caigou">
            </span>
            <br>
            <span>
            <label for="">物流单号</label>
            <input type="text" placeholder="物流单号" v-model="wulDanh">
        </span>
            <br>
            <span>
            <label for="">物流公司</label>
            <input type="text" placeholder="物流单号" v-model="wuliuGongsi">
        </span>
        </div>
    </form>


</div>



<script src="${request.contextPath}/statics/kuajing/js/step/order2/orderDetails.js"></script>
<script src="${request.contextPath}/statics/kuajing/js/layui.js?t=1"></script>
<script>
    layui.config({
        base: '${request.contextPath}/statics/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index','console');
</script>

</body>
</html>