<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <#include "/header_kuajing.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/order2/myOrder.css" media="all">
    <style>
        .layui-col-md3{
            width: 20%;
        }
        .stateBtn{
            display: inline-block;
            height: 32px;
            line-height: 35px;
            padding: 0 10px;
            margin-left: 10px;
            background: #00aee3;
            color: #fff;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="box" id="step" v-cloak>

    <!--搜索区域-->
    <div class="search1" style="text-align: center">

        <input type="text" style="width: 360px;height: 45px;" placeholder="请输入物流单号" v-model="orderId">


        <button class="sousuo" style="background: #00a3e8;color: #fff" @click="getOrderlist('')"><i class="el-icon-search"></i> 查询</button>

    </div>


    <!--操作区域-->
    <div class="operation">

        统计统计
    </div>


    <table>
        <tr>

            
            <th>当天汇率</th>
            <th>采购价</th>
            <th>国际运费</th>
            <th>平台佣金</th>
            <th>利润</th>
            <th>利润率</th>


            <th>状态</th>
            <th>异常状态</th>
            <!--<th>退货费用</th>-->
            <th style="width: 100px">下单时间</th>
            <th>操作</th>
        </tr>
        <tr v-for = '(item,index) in prolist'>

            
            <td>{{item.momentRate}}</td>
            <td>{{item.purchasePrice }}</td>
            <td v-if="(item.orderState == '国际已发货') || (item.orderState == '完成')">{{item.interFreight}}</td>
            <td v-if="!(item.orderState == '国际已发货' || item.orderState == '完成')">--</td>
            <td v-if="!(item.orderState == '国际已发货' || item.orderState == '完成')">--</td>
            <td v-if="!(item.orderState == '国际已发货' || item.orderState == '完成')">--</td>
            <td v-if="!(item.orderState == '国际已发货' || item.orderState == '完成')">--</td>
            <td v-if="(item.orderState == '国际已发货') || (item.orderState == '完成')">{{item.platformCommissions}}</td>
            <td v-if="(item.orderState == '国际已发货') || (item.orderState == '完成')">{{item.orderProfit}}</td>
            <td v-if="(item.orderState == '国际已发货') || (item.orderState == '完成')">{{item.profitRate}}</td>


            <td>
                <span v-if="(item.orderState == '虚发货')" class="org">
                    {{ item.orderState }}
                </span>
                <span v-if="(item.orderState == '待付款')" class="org1">
                    {{ item.orderState }}
                </span>
                <span v-if="item.orderState == '已付款'" class="bule1">
                    {{ item.orderState }}
                </span>
                <span v-if="item.orderState == '国内物流已采购'" class="bule2">
                    {{ item.orderState }}
                </span>
                <span v-if="item.orderState == '国内物流待发货'" class="bule3">
                    {{ item.orderState }}
                </span>
                <span v-if="item.orderState == '仓库已入库'" class="bule4">
                    {{ item.orderState }}
                </span>
                <span v-if="item.orderState == '国际已发货'" class="bule">
                    {{ item.orderState }}
                </span>
                <span v-if="item.orderState == '物流仓库未签收'" class="green">
                    {{ item.orderState }}
                </span>
                <span v-if="item.orderState == '完成'" class="ok">
                    {{ item.orderState }}
                </span>
                <span v-if="item.orderState == '取消'" class="red">
                    {{ item.orderState }}
                </span>
            </td>
            <td>
                <span v-if="JSON.stringify(item.abnormalStatus) != 'null' " style="padding: 2px 6px;border-radius: 3px;background: #ff6154;color: #fff;font-size: 13px">{{item.abnormalState}}</span>
                <span v-if="JSON.stringify(item.abnormalStatus) == 'null' "></span>
            </td>
            <!--<td>{{item.accountMoneyCny}}</td>-->
            <td style="width: 100px;color: #999;">{{ item.buyDate }}</td>
            <td>
                <span style="color: #00b6e5;font-size: 13px;cursor:pointer;" @click="shuaxin(item.orderId)">入库</span>
            </td>
        </tr>
    </table>


    <!--分页-->
    <div id="page" style="text-align: center"></div>

    <div id="addOrder" style="display: none">
        <h3>添加订单</h3>
        <span>
            <label for="">选择店铺</label>
            <select class="form-control" id="order_marketplace_id">
                <option value="">-- 请选择 --</option>
                <option value="3116">baijing(意大利)</option>
                <option value="3115">baijing(西班牙)</option>
                <option value="3114">baijing(德国)</option>
                <option value="3113">baijing(英国)</option>
                <option value="3112">baijing(法国)</option>
            </select>
        </span>
        <br>
        <span>
            <label for="">Amazon订单ID</label>
            <input type="text" placeholder="Amazon订单ID">
        </span>
    </div>

</div>

<div class="bigImgDiv"></div>

<script src="${request.contextPath}/statics/kuajing/js/step/order2/myOrder.js"></script>
<script src="${request.contextPath}/statics/kuajing/js/step/product/sousuoArea.js"></script>
<!--<script src="${request.contextPath}/statics/kuajing/js/step/product/tuozhaiduoxuan.js"></script>-->
</body>
</html>