target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/renren-admin/src/main/resources/application-test.yml
/renren-admin/src/main/resources/application-dev.yml
/renren-admin/src/main/resources/application.yml
/renren-admin/src/main/resources/application-prod.yml
/renren-admin/src/main/resources/banner.txt
/renren-admin/src/main/resources/logback-spring.xml
/renren-generator/src/main/resources/application.yml
/renren-generator/src/main/resources/generator.properties
/renren-generator/src/main/resources/rebel.xml
/renren-generator/src/main/resources/rebel-remote.xml
/renren-api/src/main/resources/rebel.xml
/renren-api/src/main/resources/rebel-remote.xml
/renren-admin/src/main/resources/rebel-remote.xml
/renren-admin/src/main/resources/rebel.xml
/renren-common/src/main/resources/rebel-remote.xml
/renren-common/src/main/resources/rebel.xml
*.gz
*.log
/logs/
/renren-admin/logs/
*.rebel.xml.bak
*.rebel-remote.xml.bak
/renren-admin/java
/renren-admin/mvn
/renren-admin/src/test/
/.gitignore
