
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "/header_kuajing.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/inance/profit.css" media="all">
        </head>
<body>

<div class="box" id="step">


    <div class="item">
        <h4>加盟商员工</h4>
        <div class="nav_title">
            <ul>
                <li class="action" @click="oneLevelQueryUser('day')">日统计</li>
                <li @click="oneLevelQueryUser('month')">月统计</li>
                <li @click="oneLevelQueryUser('year')">年统计</li>
                <li @click="oneLevelQueryUser('time')">时间统计</li>
            </ul>


            <div class="selArea">
                <label for="" v-if="zongbuTime">开始时间：</label>
                <el-date-picker
                        value-format="yyyy-MM-dd hh:mm:ss"
                        format="yyyy-MM-dd"
                        v-if="zongbuTime"
                        v-model="value1"
                        type="date"
                        placeholder="选择日期">
                </el-date-picker>
                <label for="" v-if="zongbuTime">结束时间：</label>
                <el-date-picker
                        value-format="yyyy-MM-dd hh:mm:ss"
                        format="yyyy-MM-dd"
                        v-if="zongbuTime"
                        v-model="value2"
                        type="date"
                        placeholder="选择日期">
                </el-date-picker>
                <label for="" style="line-height: 35px">选择员工：</label>
                <!--<select name="" v-model="yuangonguserid" >-->
                    <!--<option value="0">全部</option>-->
                    <!--<option v-for="item in staff" :value="item.userId">{{ item.username }}</option>-->
                <!--</select>-->
                <el-select v-model="yuangonguserid" filterable placeholder="请选择员工">
                    <el-option
                            v-for="item in staff"
                            :key="item.userId"
                            :label="item.displayName"
                            :value="item.userId"
                    >
                    </el-option>
                </el-select>
                <button style='cursor: pointer;' @click="oneLevelQueryUser1">查询</button>
            </div>




        </div>
        <!--统计-->
        <div class="statistics">
            <!--<span>{{ statistics.name }}</span>-->
            <span>新增产品数：<span v-model="allChart1Data[0]">{{ statistics.addProductsCounts }}</span></span>
            <span>订单数：<span v-model="allChart1Data[1]">{{ statistics.addOrderCounts }}</span></span>
            <span>退货订单数：<span v-model="allChart1Data[2]">{{ statistics.returnCounts }}</span></span>
            <span>销售额：<span v-model="allChart2Data[0]">{{ statistics.salesVolume }}</span></span>
            <span>成本：<span v-model="allChart2Data[1]">{{ statistics.cost+statistics.orderFreight}}</span></span>
            <span>利润：<span v-model="allChart2Data[2]">{{ statistics.profit }}</span></span>
            <span>平均利润率：<span v-model="allChart3Data">{{ statistics.profitRate }}</span></span>
        </div>

        <div class="chart chart2" style="height:152px">
            <div>
                {{ (statistics.salesVolume/10000).toFixed(3) }}   <span>万元</span>
                <p>销售额</p>
            </div>
            <div>
                {{ statistics.addOrderCounts }}
                <p>订单数</p>
            </div>
            <div>
                {{ (statistics.profit/10000).toFixed(3) }}   <span>万元</span>
                <p>利润</p>
            </div>
        </div>
        <!--<br>-->
        <br>

        <!--统计图-->
        <div class="chart">
            <div>
                <!--<div id="allChart1"></div>-->
                <div id="allChartJ1"></div>
            </div>
            <div>
                <!--<div id="allChart2"></div>-->
                <div id="allChartJ2"></div>
            </div>
            <div>
                <!--<div id="allChart3"></div>-->
                <div id="allChartJ3"></div>
            </div>
        </div>
    </div>




</div>

<script src="${request.contextPath}/statics/libs/echarts/1.js"></script>
<script src="${request.contextPath}/statics/libs/echarts/2.js"></script>
<script src="${request.contextPath}/statics/libs/echarts/3.js"></script>
<script src="${request.contextPath}/statics/libs/echarts/4.js"></script>
<script src="${request.contextPath}/statics/libs/echarts/5.js"></script>
<script src="${request.contextPath}/statics/libs/echarts/6.js"></script>
<script src="${request.contextPath}/statics/libs/echarts/7.js"></script>
<script src="${request.contextPath}/statics/libs/echarts/8.js"></script>
<script src="${request.contextPath}/statics/libs/echarts/9.js"></script>
<script src="${request.contextPath}/statics/libs/echarts/10.js"></script>
<script src="${request.contextPath}/statics/kuajing/js/step/inance/chart.js"></script>
<script src="${request.contextPath}/statics/kuajing/js/step/inance/profitJ.js"></script>
</body>
</html>