
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "/header_kuajing.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/inance/profit.css" media="all">
        </head>
<body>

<div class="box" id="step" v-cloak>
    <div class="item">
        <h4>平台利润</h4>
        <div class="nav_title">
            <ul>
                <li class="action" @click="oneLevelQueryPlatform('day')">日统计</li>
                <li @click="oneLevelQueryPlatform('month')">月统计</li>
                <li @click="oneLevelQueryPlatform('year')">年统计</li>
                <li @click="oneLevelQueryPlatform('time')">时间统计</li>
            </ul>

            <div class="selArea">
                <label for="" v-if="pingtTime">开始时间：</label>
                <el-date-picker
                        value-format="yyyy-MM-dd hh:mm:ss"
                        format="yyyy-MM-dd"
                        v-if="pingtTime"
                        v-model="value5"
                        type="date"
                        placeholder="选择日期">
                </el-date-picker>
                <label for="" v-if="pingtTime">结束时间：</label>
                <el-date-picker
                        value-format="yyyy-MM-dd hh:mm:ss"
                        format="yyyy-MM-dd"
                        v-if="pingtTime"
                        v-model="value6"
                        type="date"
                        placeholder="选择日期">
                </el-date-picker>

                <button v-if="pingtTime" @click="oneLevelQueryPlatform1">查询</button>

            </div>

        </div>
        <!--统计-->
        <div class="statistics">
            <span>所有加盟商订单抽成：<span>{{ statisticsProfit.choucheng }}</span></span>
            <span>总部员工销售利润：<span>{{ statisticsProfit.userProfit }}</span></span>
            <span>总盈利：<span>{{ statisticsProfit.allProfit }}</span></span>
        </div>
        <!--统计图-->
        <div class="chart chart2" style="height:152px">
            <div>
                {{ (statisticsProfit.allProfit/10000).toFixed(3) }}   <span>万元</span>
                <p>总盈利</p>
            </div>
            <div>
                {{ (statisticsProfit.choucheng/10000).toFixed(3) }}   <span>万元</span>
                <p>所有加盟商订单抽成</p>
            </div>
            <div>
                {{ (statisticsProfit.userProfit/10000).toFixed(3) }}   <span>万元</span>
                <p>总部员工销售利润</p>
            </div>
        </div>
    </div>

    <div class="item">
        <h4>总部员工</h4>
        <div class="nav_title">
            <ul>
                <li class="action" @click="oneLevelQueryUser('day')">日统计</li>
                <li @click="oneLevelQueryUser('month')">月统计</li>
                <li @click="oneLevelQueryUser('year')">年统计</li>
                <li @click="oneLevelQueryUser('time')">时间统计</li>
            </ul>


            <div class="selArea">
                <label for="" v-if="zongbuTime">开始时间：</label>
                <el-date-picker
                        value-format="yyyy-MM-dd hh:mm:ss"
                        format="yyyy-MM-dd"
                        v-if="zongbuTime"
                        v-model="value1"
                        type="date"
                        placeholder="选择日期">
                </el-date-picker>
                <label for="" v-if="zongbuTime">结束时间：</label>
                <el-date-picker
                        value-format="yyyy-MM-dd hh:mm:ss"
                        format="yyyy-MM-dd"
                        v-if="zongbuTime"
                        v-model="value2"
                        type="date"
                        placeholder="选择日期">
                </el-date-picker>
                <label for="" style="line-height: 35px">选择员工：</label>
                <!--<select name="" v-model="yuangonguserid" >-->
                    <!--<option value="0">全部</option>-->
                    <!--<option v-for="item in staff" :value="item.userId">{{ item.username }}</option>-->
                <!--</select>-->
                <el-select v-model="yuangonguserid" filterable placeholder="请选择员工">
                    <el-option
                            v-for="item in staff"
                            :key="item.userId"
                            :label="item.displayName"
                            :value="item.userId"
                    >
                    </el-option>
                </el-select>
                <button style='cursor: pointer;' @click="oneLevelQueryUser1">查询</button>
            </div>




        </div>
        <!--统计-->
        <div class="statistics">
            <!--<span>{{ statistics.name }}</span>-->
            <span>新增产品数：<span v-model="allChart1Data[0]">{{ statistics.addProductsCounts }}</span></span>
            <span>订单数：<span v-model="allChart1Data[1]">{{ statistics.addOrderCounts }}</span></span>
            <span>退货订单数：<span v-model="allChart1Data[2]">{{ statistics.returnCounts }}</span></span>
            <span>销售额：<span v-model="allChart2Data[0]">{{ statistics.salesVolume }}</span></span>
            <span>成本：<span v-model="allChart2Data[1]">{{ statistics.cost+statistics.orderFreight}}</span></span>
            <span>利润：<span v-model="allChart2Data[2]">{{ statistics.profit }}</span></span>
            <span>平均利润率：<span v-model="allChart3Data">{{ statistics.profitRate }}</span></span>
        </div>
        <!--统计图-->
        <div class="chart">
            <div>
                <div id="allChart1"></div>
            </div>
            <div>
                <div id="allChart2"></div>
            </div>
            <div>
                <div id="allChart3"></div>
            </div>
        </div>
    </div>

    <div class="item">
        <h4>加盟商</h4>
        <div class="nav_title">
            <ul>
                <li class="action" @click="oneLevelQueryFranchisee('day')">日统计</li>
                <li @click="oneLevelQueryFranchisee('month')">月统计</li>
                <li @click="oneLevelQueryFranchisee('year')">年统计</li>
                <li @click="oneLevelQueryFranchisee('time')">时间统计</li>
            </ul>
            <div class="selArea">
                <label for="" v-if="jiamTime">开始时间：</label>
                <el-date-picker
                        value-format="yyyy-MM-dd hh:mm:ss"
                        format="yyyy-MM-dd"
                        v-if="jiamTime"
                        v-model="value3"
                        type="date"
                        placeholder="选择日期">
                </el-date-picker>
                <label for="" v-if="jiamTime">结束时间：</label>
                <el-date-picker
                        value-format="yyyy-MM-dd hh:mm:ss"
                        format="yyyy-MM-dd"
                        v-if="jiamTime"
                        v-model="value4"
                        type="date"
                        placeholder="选择日期">
                </el-date-picker>
                <label for="" style="line-height: 35px">选择公司：</label>
                <!--<select name="" id="" v-model="jiamenguserid">-->
                    <!--<option value="0">全部</option>-->
                    <!--<option v-for="item in staff" :value="item.userId">{{ item.username }}</option>-->
                <!--</select>-->
                <el-select v-model="allGongsiValue" filterable placeholder="请选择公司">
                    <el-option
                            v-for="item in allGongsi"
                            :key="item.deptId"
                            :label="item.name"
                            :value="item.deptId"
                    >
                    </el-option>
                </el-select>
                <button style='cursor: pointer;' @click="oneLevelQueryFranchisee1">查询</button>
            </div>

        </div>
        <!--统计-->
        <div class="statistics">
            <!--<span>{{ statisticsShop.name }}</span>-->
            <span>订单数：<span>{{ statisticsShop.addOrderCounts }}</span></span>
            <span>销售额：<span v-model="shopChart3Data[0]">{{ statisticsShop.salesVolume }}</span></span>
            <span>成本：<span v-model="shopChart3Data[1]">{{ statisticsShop.allCost }}</span></span>
            <span>利润：<span v-model="shopChart3Data[2]">{{ statisticsShop.profit }}</span></span>
            <span>平均利润率：<span v-model="shopChart2Data">{{ statisticsShop.profitRate }}</span></span>
        </div>
        <!--统计图-->
        <div class="chart chart1">
            <div style="text-align: center">
                <h3 style="color: #4abdf3;font-size: 24px;margin-top: 110px;margin-bottom: 10px">{{statisticsShop.addOrderCounts}}</h3>
                <span style="color: #666;font-style: 15px;">订单数</span>
            </div>
            <div>
                <div id="shopChart2"></div>
            </div>
            <div>
                <div id="shopChart3"></div>
            </div>
        </div>
    </div>


</div>

<script src="${request.contextPath}/statics/libs/echarts/1.js"></script>

<script src="${request.contextPath}/statics/kuajing/js/step/inance/chart.js"></script>
<script src="${request.contextPath}/statics/kuajing/js/step/inance/profit.js"></script>
</body>
</html>