<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("amazon:amazongrant:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("amazon:amazongrant:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("amazon:amazongrant:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonGrant.userId" placeholder="用户id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">店铺名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonGrant.shopName" placeholder="店铺名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">Amazon账号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonGrant.amazonAccount" placeholder="Amazon账号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开户区域(0：北美、1：欧洲、2：日本、3：澳大利亚)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonGrant.area" placeholder="开户区域(0：北美、1：欧洲、2：日本、3：澳大利亚)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">卖家编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonGrant.merchantId" placeholder="卖家编号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">授权令牌</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="amazonGrant.grantToken" placeholder="授权令牌"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/amazon/amazongrant.js?_${.now?long}"></script>
</body>
</html>