<!DOCTYPE html>
<html>
<head>
    <title>亚马逊商品上传结果表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("amazon:resultxml:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("amazon:resultxml:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("amazon:resultxml:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">上传id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resultXml.uploadId" placeholder="上传id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品上传返回的xml结果</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resultXml.productsResultXml" placeholder="商品上传返回的xml结果"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">关系上传返回的xml结果</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resultXml.relationshipsResultXml" placeholder="关系上传返回的xml结果"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">图片上传返回的xml结果</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resultXml.imagesResultXml" placeholder="图片上传返回的xml结果"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">库存上传返回的xml结果</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resultXml.inventoryResultXml" placeholder="库存上传返回的xml结果"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">价格上传返回的xml结果</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resultXml.pricesResultXml" placeholder="价格上传返回的xml结果"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/amazon/resultxml.js?_${.now?long}"></script>
</body>
</html>