
.fixed-table-container{
    border:0;
}
.treegrid-thead th{
    background: none;
    font-size: 15px;
    border: 0!important;
}
.fixed-table-container tbody td{
    background: #fff!important;
    border-bottom: 2px solid #f0f0f0!important;
}
.fixed-table-container tbody tr td:nth-last-child(1){
    text-align: center;
}
.label-success{
    background: #16b4ef;
    padding: 4px 12px;
}