/*定时上传弹框*/
#timeUp h3{
    margin: 10px;
    color: #00a3e8;
    font-weight: bold;
}
#timeUp>span{
    display: inline-block;
    margin-bottom: 15px;
    line-height: 28px;
    margin: 15px 0 10px 20px;
}
#timeUp>span>input, #addOrder>span>select{
    height: 28px;
    border: 1px solid #d8dce5;
    border-radius: 4px;
    padding-left: 6px;
    margin-right: 10px;
}
#timeUp>span label{
    display: inline-block;
    width: 90px;
}
#timeUp>span label:before{
    content: '';
    display: inline-block;
    width: 3px;
    height: 12px;
    background: -webkit-linear-gradient(bottom, #1e9fff , #63e3f0);
    background: -moz-linear-gradient(bottom, #1e9fff , #63e3f0);
    background: linear-gradient(to bottom, #1e9fff , #63e3f0);
    margin-right: 5px;
}
#timeUp>p{
    padding: 0 0 0 40px;
    color: #ea9a9a;
    font-size: 13px;
}
#timeUp>button {
    margin-left: 20px;
    background: none;
    border: 0;
    color: #00a3e8;
    cursor: pointer;
}
#timeUp>button:hover{
    opacity: .9;
}
#timeUp>p{
    padding-left: 20px;
    color: #666;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 6px;
    font-weight: bold;
}

#lishi h3{
    margin: 10px;
    color: #00a3e8;
    font-weight: bold;
}
#lishi ul{
    margin: 10px;
    padding: 10px;
    border:1px solid #ddd;
    border-radius: 3px;
    height: 255px;
}
#lishi ul li{
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
#lishi ul li:hover , #lishi ul li.active{
    background: #dbedf7;
}

.pro_inf .valDiv{
    display: flex;
    margin: 10px 0 18px 0;
}
.pro_inf .valDiv>div:nth-child(1){
    width: 70px;
    vertical-align: middle;
    padding-top: 5px;
    color: #666;
}
.pro_inf .valDiv>div:nth-child(2){
    flex:1;
}
.pro_inf .valDiv>div:nth-child(2) span{
    color: #666;
    margin: 4px!important;
}
.pro_inf .valDiv>div:nth-child(1) span.title{
    font-weight: bold;
}
.pro_inf .valDiv>div:nth-child(2) span.val{
    padding: 1px 8px;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
}
.pro_inf .valDiv>div:nth-child(2) span.val:hover , .pro_inf .valDiv>div:nth-child(2) span.val.active{
    background: #00a3e8;
    color: #fff;
}