<!DOCTYPE html>
<html>
<head>
    <title>国际物流</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("logistics:abroadlogistics:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("logistics:abroadlogistics:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("logistics:abroadlogistics:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="abroadLogistics.orderId" placeholder="订单id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">国际物流单号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="abroadLogistics.abroadWaybill" placeholder="国际物流单号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">国际追踪号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="abroadLogistics.trackWaybill" placeholder="国际追踪号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">国际物流状态编码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="abroadLogistics.status" placeholder="国际物流状态编码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">国际物流状态</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="abroadLogistics.state" placeholder="国际物流状态"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">国际运费</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="abroadLogistics.interFreight" placeholder="国际运费"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否同步（默认0：没有  1：有）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="abroadLogistics.isSynchronization" placeholder="是否同步（默认0：没有  1：有）"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/logistics/abroadlogistics.js?_${.now?long}"></script>
</body>
</html>