<!DOCTYPE html>
<html>
<head>
    <title>国内物流</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("amazon:neworderdomesticlogistics:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("amazon:neworderdomesticlogistics:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("amazon:neworderdomesticlogistics:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newOrderDomesticLogistics.orderId" placeholder="订单id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单商品id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newOrderDomesticLogistics.itemId" placeholder="订单商品id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">采购价</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newOrderDomesticLogistics.price" placeholder="采购价"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">运单号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newOrderDomesticLogistics.waybill" placeholder="运单号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">物流公司</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newOrderDomesticLogistics.logisticsCompany" placeholder="物流公司"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">发货日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newOrderDomesticLogistics.issuanceDate" placeholder="发货日期"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否入库</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newOrderDomesticLogistics.state" placeholder="是否入库"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newOrderDomesticLogistics.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/amazon/neworderdomesticlogistics.js?_${.now?long}"></script>
</body>
</html>