
/*body>div{*/
/*margin: 10px;*/
/*padding: 10px;*/
/**/
/*}*/
p{
    margin: 16px 10px 20px 20px;
    color: #ffb4b4;
    font-size: 13px;
    font-weight: bold;
}
p button{
    position: absolute;
    top: 10px;
    right: 10px;
    margin-right: 10px;
    padding: 0 15px;
    height: 35px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    background: url(../kuajing/img/create_bg.png);
    background-size: 100% 100%;
    cursor: pointer;
}
table{
    margin: 10px 20px;
    width: calc(100% - 40px);
}
table tr:nth-child(1){
    /*background: #ddf8ff;*/
    border-radius: 3px;
}
table tr th{
    padding: 10px;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
}
table tr td{
    position: relative;
    color: #666;
    font-size: 13px;
    padding: 10px;
    background: rgba(255,255,255,.9);
    border-bottom: 2px solid #f2f2f2;
}
table tr td span{
    /*position: absolute;*/
    /*top:2px;*/
    /*left:10px;*/
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #FF5722;
    border-radius: 50%;
}
table tr td:last-child{
    color: #999;
}
table tr td button{
    padding: 2px 6px;
    border:1px solid #ddd;
    border-radius: 4px;
    font-size: 13px;
    color: #666;
    cursor: pointer;
}