<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>平台授权</title>
    <#include "/header_kuajing.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/authorize/authorize.css" media="all">
        <style>
            .del{
                float: right;
                background: #fdc1b0;
                /*box-shadow: 0 0 10px #feaa9c;*/
            }
            .del:hover{
                background: #fe8060;
                /*box-shadow: 0 0 10px #fecb9c;*/
            }

        </style>
        </head>
<body>

<div class="box" id="step">

    <p>
        <span class="layui-breadcrumb" style="visibility: visible;">
          <a href="javascript:;">UPC/EAN库</a>
        </span>

        <!--<button class="save" >添加授权</button>-->
        <!--<a href="ruheAuthorize.html" target="_blank" style="float: right;margin-right: 20px;line-height: 30px;color: #34a4ee;">如何授权？</a>-->
        <input class="save" type="button" value="添加UPC/EAN码" @click="addShouq">
        <input class="del" type="button" value="批量删除" @click="addShouq">

    </p>

    <table>
        <tr>
            <th>类型</th>
            <th>UPC/EAN</th>
            <th>产品</th>
            <th>状态</th>
            <th>添加时间</th>
        </tr>
        <tr v-for="item in authorizeList">
            <td>{{ item.type }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.productId }}</td>
            <td v-if="item.state==0">未使用</td>
            <td v-if="item.state==1">已使用</td>
            <td>{{ item.createTime }}</td>
            <!--<td>-->
                <!--<a href="javascript:;" @click="addShouqlingpan(item)">添加授权令牌</a>-->
                <!--<a href="javascript:;" @click="getdelete(item.grantId)">删除</a>-->
                <!--<a href="javascript:;" @click="getGjList(item.grantId)">国家列表</a>-->
            <!--</td>-->
        </tr>
    </table>

    <!--分页-->
    <div id="page" style="text-align: center"></div>

    <!--添加授权弹框-->
    <div id="addShouq" style="display: none">
        <h3>添加授权</h3>

        <span>
            <label for="">upc/ean</label>
            <select class="form-control" id="account_area" v-model="area">
                <option value="0">upc</option>
                <option value="1">ean</option>
              </select>
        </span>
        <br>
        <span>
            <label for="">Merchant ID</label>
            <input type="text" placeholder="买家编号" v-model="merchantId">
        </span>
        <br>
        <span>
            <label for="">授权令牌</label>
            <input type="text" placeholder="授权令牌" v-model="grantToken">
        </span>

        <p>所有的都为必填项</p>
    </div>


</div>

<script src="${request.contextPath}/statics/kuajing/js/step/upcEan/upcEan.js"></script>
</body>
</html>