<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <#include "/header_kuajing.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/kuajing/css/order/orderDetails.css" media="all">
    <style>
        .layui-col-md3{
            width: 20%;
        }
        form .pro_inf span span{
            width: auto;
            min-width: 30px;
        }
    </style>

</head>
<body>

<div class="box" id="step" v-cloak>

    <form>
        <p>
            <span class="layui-breadcrumb1" style="visibility: visible;">
              <a href="javascript:window.location.href = 'myOrder.html';">订单列表 / </a>
              <a><cite>订单详情</cite></a>
            </span>

            <!--<button class="save">保存并提交</button>-->
        </p>

        <div class="form_item one">
            <div class="item">
                <div>
                    <!--<img src="../../statics/kuajing/img/img1.jpg" alt="">-->
                    <img :src="orderDetails.productImageUrl" alt="">
                </div>
                <div>
                    <h4><a :href="orderDetails.amazonProductUrl" target="_blank">{{ orderDetails.productTitle }}</a></h4>
                    <!--<p>sdkfjbsanklnsml;kdgfuasbjkdnlcxm </p>-->
                    <!--<p>{{ orderDetails.shipAddress }}</p>-->

                    <span><label for="">店铺：</label><span>{{ orderDetails.shopName }}</span></span><br>
                    <span><label for="">SKU：</label><span :lay-href="'modules/product/detailsProduct1.html?id='+orderDetails.productId" layadmin-event="message" lay-text="产品详情" style="color: #12ace8;cursor:pointer;">{{ orderDetails.productSku }}</span></span>
                    <span><label for="">ASIN：</label><span>{{ orderDetails.productAsin }}</span></span><br>
                    <span><label for="">数量：</label><span>{{ orderDetails.orderNumber }}</span></span>
                    <span><label for="">采购价（￥）：</label><span>{{ orderDetails.purchasePrice }}</span></span>
                    <span><label for="">订单状态：</label><span>{{ orderDetails.orderState }}</span></span>
                    <span><label for="">亚马逊单号：</label><span>{{ orderDetails.amazonOrderId }}</span></span>
                    <span><label for="">购买日期：</label><span>{{ orderDetails.buyDate }}</span></span>
                    <!--<input v-if="orderDetails.orderState == '待付款'" class="yiCaigou" type="button" value="待付款">-->
                    <input v-if="orderDetails.orderState == '虚发货'" class="yiFahuo" type="button" value="已采购" @click="updateState('已采购')">
                    <!--<input v-if="orderDetails.orderState == '缺货'" class="yiCaigou" type="button" value="缺货">-->
                    <!--<input v-if="orderDetails.orderState == '取消'" class="yiFahuo" type="button" value="取消">-->
                    <!--<input v-if="orderDetails.orderState == '退货'" class="yiCaigou" type="button" value="退货">-->
                    <!--<input v-if="orderDetails.orderState == '问题'" class="yiFahuo" type="button" value="问题">-->
                    <!--<input v-if="orderDetails.orderState == '已付款'" class="yiCaigou" type="button" value="已付款">-->
                    <!--<input v-if="orderDetails.orderState == '已采购'" class="yiFahuo" type="button" value="已采购">-->
                    <input v-if="orderDetails.orderState == '待发货'" class="yiCaigou" type="button" value="已发货" @click="updateState('待签收')">
                    <!--<input v-if="orderDetails.orderState == '入库'" class="yiFahuo" type="button" value="入库">-->
                    <input v-if="orderDetails.orderState == '国际已发货'" class="yiCaigou" type="button" value="已完成" @click="updateState('完成')">
                    <!--<input v-if="orderDetails.orderState == '待签收'" class="yiFahuo" type="button" value="待签收">-->
                    <!--<input v-if="orderDetails.orderState == '补发'" class="yiCaigou" type="button" value="补发">-->
                </div>
            </div>
            
        </div>
        <div class="form_item">
            <div class="item">
                <div>
                    <h4>寄件信息</h4>
                </div>
                <div class="pro_inf okEdit jijian">
                    <div>
                        <span><label for="">收件人：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipName" disabled></span>
                        <span><label for="">TEL：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipTel" disabled></span>
                        <span><label for="">收件人国家：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipCountry" disabled></span>
                        <span><label for="">ZIP：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipZip" disabled></span><br>
                        <span><label for="" style="width: 64px">州：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipRegion" disabled></span>
                        <span><label for="" style="width: 47.8px">市：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipCity" disabled></span>
                        <span><label for="">街道：</label><input type="text" placeholder="建议填写" v-model="orderDetails.shipAddress.shipAddressLine1" disabled></span><br>
                        <span><label for="">详细地址：</label><textarea v-model="orderDetails.shipAddress.shipCity" disabled>
                            {{orderDetails.shipAddress.shipCity}}
                            {{orderDetails.shipAddress.shipCounty}}
                            {{orderDetails.shipAddress.shipDistrict}}
                        </textarea></span>
                        <div class="fr" style="">
                            <input class="edit" type="button" value="编辑" @click="editJijian(orderDetails.shipAddress.shipAddressId)">
                            <input class="noedit" type="button" value="取消" @click="noedit">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form_item">
            <div class="item">
                <div>
                    <h4>国内物流</h4>
                </div>
                <div class="pro_inf chengben okEdit">
                    <p style="margin-bottom: 10px"><input class="addguojiyundan" type="button" value="添加" @click="addWuliuFunc"></p>
                    <div v-for="(item,index) in orderDetails.domesticLogisticsList">

                        <span><label for="">采购价(￥)：</label><input type="text" :placeholder="orderDetails.purchasePrice" v-model="price[index]" disabled></span>
                        <span><label for="">物流单号(￥)：</label><a href="javascript:;" data-ok="true" class="logistics" @mouseover="queryLogistic(item.waybill,$event)" @mouseout="xiaoshiFcun"><input class="" data-ok="true" type="text"  placeholder="物流单号" v-model="waybill[index]" disabled></a></span>
                        <span><label for="">物流公司：</label><input class="" type="text" :placeholder="item.logisticsCompany" disabled></span>
                        <span><label for="">发货日期(￥)：</label><input type="text" :placeholder="item.issuanceDate" disabled></span>
                        <div class="fr" style="">
                            <input class="edit" type="button" value="编辑" @click="edit(item.domesticLogisticsId,index,$event)">
                            <input class="noedit" type="button" value="取消" @click="noedit(waybill[index],index,$event)">
                            <input class="edit" type="button" value="同步" @click="synchronize(item)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div>
                    <h4>国际物流</h4>
                </div>
                <div class="pro_inf chengben">
                    <!--<p style="margin-bottom: 10px">-->
                        <!--<input v-if="orderDetails.orderState == '已付款'" class="addguojiyundan" type="button" value="生成国际运单号" @click="getorderID">-->
                        <!--<input v-if="orderDetails.abroadLogistics.isSynchronization == 0" class="addguojiyundan" type="button" value="同步" @click="tongbu">-->
                        <!--&lt;!&ndash;<input class="addguojiyundan" type="button" value="刷新" @click="getOrderInfo">&ndash;&gt;-->
                    <!--</p>-->
                    <!--<div>-->
                    <div>
                        <span><label for="" style="width: 120px">国际物流单号：</label><span>{{ orderDetails.abroadLogistics.abroadWaybill }}</span></span>
                        <span><label for="" style="width: 120px">国际跟踪号：</label><span>{{ orderDetails.abroadLogistics.trackWaybill }}</span></span>
                        <!--<span><label for="">物流状态：</label><span>{{ orderDetails.abroadLogistics.state }}</span></span>-->
                        <span><label for="" style="width: 106px">国际运费：</label><span>{{ orderDetails.abroadLogistics.interFreight }}</span></span>
                        <span><label for="">物流公司：</label><span>{{ orderDetails.abroadLogistics.destTransportCompany }}</span></span>
                        <span><label for="">物流渠道：</label><span>{{ orderDetails.abroadLogistics.destChannel }}</span></span><br><br>

                        <span><label for="">国内查询跟踪号：</label><span>{{ orderDetails.abroadLogistics.domesticTrackWaybill }}</span></span>
                        <span><label for="">目的地查询网址：</label><span>{{ orderDetails.abroadLogistics.destQueryUrl }}</span></span>
                        <span><label for="">服务查询网址：</label><span>{{ orderDetails.abroadLogistics.serviceQueryUrl }}</span></span>
                        <span><label for="">联系电话：</label><span>{{ orderDetails.abroadLogistics.mobile }}</span></span>

                        <div class="fr">
                            <span v-if="orderDetails.abroadLogistics.state">物流状态：{{orderDetails.abroadLogistics.state}}</span>
                            <span v-if="!orderDetails.abroadLogistics.state" style="margin-right: 10px">物流状态：暂无状态</span>

                            <!--<span>{{ orderDetails.abroadLogistics.state }}</span>-->
                            <span>{{ orderDetails.abroadLogistics.shipTime }}</span>
                            <p>
                                <a v-if="orderDetails.orderState == '已付款'" href="javascript:;" @click="getorderID">生成国际运单号</a>
                                <template v-if="orderDetails.abroadLogistics.isSynchronization == 0">
                                    <a v-if="orderDetails.orderState == '虚发货' || orderDetails.orderState == '入库' || orderDetails.orderState == '国际已发货'" href="javascript:;" @click="tongbu">同步</a>
                                </template>

                                <span v-if="orderDetails.abroadLogistics.isSynchronization == 1" href="javascript:;" >已同步</span>
                                <!--<a href="javascript:;" class="detailsOrderA">明细</a>-->
                            </p>
                        </div>
                    </div>
                    <!--<div v-if="!orderDetails.abroadLogistics.abroadWaybill" style="color: #666">-->
                        <!--暂无物流状态-->
                    <!--</div>-->



                </div>
            </div>
        </div>
        <div class="form_item">
            <div class="item">
                <div>
                    <h4>订单明细</h4>
                </div>
                <div class="details">
                    <table>
                        <tr>
                            <th></th>
                            <th>订单金额 <span>（汇率 {{ orderDetails.momentRate }}）</span></th>
                            <th>Amazon佣金</th>
                            <th>到账金额</th>
                            <th>采购价</th>
                            <th>国际运费</th>
                            <th>平台佣金</th>
                            <th>利润</th>
                            <th>利润率</th>
                            <th>退货费用</th>
                        </tr>
                        <tr class="two">
                            <th>国际币种</th>
                            <td>{{ orderDetails.orderMoneyForeign }}</td>
                            <td>{{ orderDetails.amazonCommissionForeign }}</td>
                            <td>{{ orderDetails.accountMoneyForeign }}</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <th>人民币</th>
                            <td>{{ orderDetails.orderMoney }}</td>
                            <td>{{ orderDetails.amazonCommission }}</td>
                            <td>{{ orderDetails.accountMoney }}</td>
                            <td>{{ orderDetails.purchasePrice }}</td>
                            <td>{{ orderDetails.interFreight }}</td>
                            <td>{{ orderDetails.platformCommissions }}</td>
                            <td>{{ orderDetails.orderProfit }}</td>
                            <td>{{ orderDetails.profitRate }}</td>
                            <td>{{ orderDetails.returnCost }}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="form_item">

            <div class="item">
                <div>
                    <h4></h4>
                </div>
                <div class="pro_inf chengben">
                    <div class="layui-tab">
                        <ul class="layui-tab-title1">
                            <li class="layui-this" @click="tabFcun">内部备注</li>
                            <li @click="tabFcun">操作日志</li>
                        </ul>
                        <div class="layui-tab-content action">
                            <ul class="operationLog">
                                <li v-if="orderDetails.remarkList.length==0" style="color: #666">暂无备注</li>
                                <li v-if="orderDetails.remarkList.length!=0" v-for="item in orderDetails.remarkList"><span>{{ item.updateTime }}</span><span>{{ item.userName }}</span><span>{{ item.remark }}</span></li>
                            </ul>
                            <textarea placeholder="留言备注" style="margin-bottom: 10px" v-model="remark"></textarea>
                            <br>
                            <select id="remark_type" name="remark_type" class="form-control" v-model="remarkType">
                                <option value="" selected="selected">选择备注类型</option>
                                <option value="内部备注" selected="selected">内部备注</option>
                                <option value="收件人地址异常">收件人地址异常</option>
                                <option value="采购异常">采购异常</option>
                                <option value="国内快递异常">国内快递异常</option>
                                <option value="国际物流异常">国际物流异常</option>
                            </select>
                            <input type="button" value="添加备注说明" @click="Addnotes">
                        </div>
                        <div class="layui-tab-content">
                            <ul class="operationLog">
                                <li v-if="orderDetails.logList.length==0" style="color: #666">暂无日志</li>
                                <li v-if="orderDetails.logList.length!=0" v-for="item in orderDetails.logList"><span>{{ item.updateTime }}</span><span>{{ item.userName }}</span><span>{{ item.remark}}</span></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="logisticsDiv">
            <span class="jiantou"></span>
            <div>
                <p>
                    <span>{{ logistics.express }}</span>
                    <span>{{ logistics.expressNum }}</span>
                </p>
                <ul>
                    <li v-if="logistics.length == 0"></li>
                    <li v-for="item in logistics">
                        <p>{{ item.context }}</p>
                        <span>{{ item.time }}</span>
                    </li>
                </ul>
            </div>
        </div>


        <!--国际运单添加-->
        <div class="addorder" id="addorder" style="display: none">
            <h3>国际运单</h3>
            <div class="some-content-related-div" style="width: 100%;margin: 0 auto;">
                <div class="inner-content-div2">
                    <!--要加滚动条的具体内容-->
                    <div class="form_item one" style="box-shadow: 0 0 0 transparent">
                        <div class="item">
                            <div>
                                <img src="../../statics/kuajing/img/img1.jpg" alt="">
                                <!--<img :src="orderDetails.imgUrl" alt="">-->
                            </div>
                            <div>
                                <p class="addDecP">{{ orderDetails.dec }}</p>
                                <span><label for="">SKU：</label><span>{{ orderDetails.sku }}</span></span><br>
                                <span><label for="">数量：</label><span>{{ orderDetails.num }}</span></span><br>
                                <span><label for="">运输数量：</label>
                            <select name="" id="" :value="orderDetails.value">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </span>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <h4>运单信息</h4>
                            </div>
                            <div class="pro_inf">
                                <span><label for="">中文：</label><input type="text" placeholder="中文"></span>
                                <span><label for="">英文：</label><input type="text" placeholder="英文"></span><br>
                                <span><label for="">重量（kg）：</label><input type="text" placeholder="重量（kg）"></span>
                                <span style="width: 370px"><label for="">体积（cm）：</label>
                                    <input class="size_input" type="text" placeholder="长（CM）"> *
                                    <input class="size_input" type="text" placeholder="宽（CM）"> *
                                    <input class="size_input" type="text" placeholder="高（CM）">
                                </span><br>
                                <span style="width: auto"><label for="">物流：</label>
                                    <select name="" :value="orderDetails.logisticsValue">
                                        <option value="0">--选择--</option>
                                        <option value="1">大包</option>
                                        <option value="2">小包</option>
                                    </select>
                                    <select name="">
                                        <option value="0">--选择--</option>
                                        <option v-for="item in guojilogistics" :value="item.value">{{ item.name }}</option>
                                    </select>
                                </span>
                                <input type="button" value="生成运单号"><br>
                                <span><label for="">运单号：</label><input type="text" placeholder="运单号" :value="addyundanhao" disabled></span>
                                <span><label for="">追踪号：</label><input type="text" placeholder="追踪号" :value="addzhuizonghao" disabled></span>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <!--国际运单明细-->
        <div class="addorder" id="detailsorder" style="display: none">
            <h3>国际运单</h3>
            <div class="some-content-related-div" style="width: 100%;margin: 0 auto;">
                <div class="inner-content-div2">
                    <!--要加滚动条的具体内容-->
                    <div class="form_item one" style="box-shadow: 0 0 0 transparent;margin: 0">
                        <div class="item">
                            <div>
                                <img :src="orderDetails.imgUrl" alt="">
                            </div>
                            <div>
                                <p class="addDecP">{{ orderDetails.dec }}</p>
                                <span><label for="">SKU：</label><span>{{ orderDetails.sku }}</span></span><br>
                                <span><label for="">数量：</label><span>{{ orderDetails.num }}</span></span><br>
                                <span><label for="">运输数量：</label>
                            <select name="" id="" :value="orderDetails.value">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </span>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <h4>运单信息</h4>
                            </div>
                            <div class="pro_inf">
                                <span><label for="">运单状态：</label><span style="color: #00a3e8"> {{ orderDetails.state }} </span></span><br>
                                <span><label for="">中文：</label><input type="text" placeholder="中文"></span>
                                <span><label for="">英文：</label><input type="text" placeholder="英文"></span><br>
                                <span><label for="">重量（kg）：</label><input type="text" placeholder="重量（kg）"></span>
                                <span style="width: 370px"><label for="">体积（cm）：</label>
                                    <input class="size_input" type="text" placeholder="长（CM）"> *
                                    <input class="size_input" type="text" placeholder="宽（CM）"> *
                                    <input class="size_input" type="text" placeholder="高（CM）">
                                </span><br>
                                <span style="width: auto"><label for="">物流：</label>
                                    <select name="" :value="orderDetails.logisticsValue">
                                        <option value="0">--选择--</option>
                                        <option value="1">大包</option>
                                        <option value="2">小包</option>
                                    </select>
                                    <select name="">
                                        <option value="0">--选择--</option>
                                        <option v-for="item in guojilogistics" :value="item.value">{{ item.name }}</option>
                                    </select>
                                </span>
                                <input type="button" value="生成运单号"><br>
                                <span><label for="">运单号：</label><input type="text" placeholder="运单号" :value="addyundanhao" disabled></span>
                                <span><label for="">追踪号：</label><input type="text" placeholder="追踪号" :value="addzhuizonghao" disabled></span>
                                <br>
                                <span><label for="">备注信息：</label><textarea placeholder="备注"></textarea></span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <!--添加国内物流-->
        <div id="addWul" style="display: none">
            <h3>添加国内物流</h3>
            <span>
                <label for="">采购价</label>
                <input type="text" placeholder="采购价" v-model="caigou">
            </span>
            <br>
            <span>
            <label for="">物流单号</label>
            <input type="text" placeholder="物流单号" v-model="wulDanh">
        </span>
        </div>
    </form>


</div>



<script src="${request.contextPath}/statics/kuajing/js/step/order/orderDetails.js"></script>
<script src="${request.contextPath}/statics/kuajing/js/layui.js?t=1"></script>
<script>
    layui.config({
        base: '${request.contextPath}/statics/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index','console');
</script>

</body>
</html>