<!DOCTYPE html>
<html>
<head>
    <title>订单配送地址表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("order:productshipaddress:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("order:productshipaddress:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("order:productshipaddress:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productShipAddress.orderId" placeholder="订单id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">收件人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productShipAddress.shipName" placeholder="收件人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">收件人地址（国家）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productShipAddress.shipCountry" placeholder="收件人地址（国家）"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">收件人电话</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productShipAddress.shipTel" placeholder="收件人电话"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">收件人邮编</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productShipAddress.shipZip" placeholder="收件人邮编"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">州、区域</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productShipAddress.shipRegion" placeholder="州、区域"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">城市</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productShipAddress.shipCity" placeholder="城市"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">区县</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productShipAddress.shipCounty" placeholder="区县"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">区</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productShipAddress.shipDistrict" placeholder="区"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">街道</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productShipAddress.shipAddressLine" placeholder="街道"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/order/productshipaddress.js?_${.now?long}"></script>
</body>
</html>