
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Amazon亚马逊店铺授权方法</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://z.kershop.com/z/system/application/views/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://z.kershop.com/z/system/application/views/main.css" rel="stylesheet" type="text/css" />
    <link href="http://z.kershop.com/z/system/application/views/main_admin.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body{padding:20px;}
        .img{text-align: center;padding:10px 0;}
        .red{color:#E53333;}
    </style>
</head>
<body>
<div>
    <h1>Amazon亚马逊店铺授权方法</h1>
    <h5>填写授权信息提交授权</h5>
    <p>点击【添加Amazon授权】，按要求完成相关授权信息添加，并【添加授权】即可完成该店铺的授权。</p>
    <div class="img">
        <img src="http://z.kershop.com/z/system/application/views/page_img/how_amazon_1.png" class="img-thumbnail" />
    </div>
    <p class="red">
        注：Merchant ID、AWS Access Key ID和Secret Key需要登录亚马逊账号到指定页面中查找。
        各站点网址如下：（为避免账号关联，请使用该店铺常用的电脑操作）
    </p>
    <p class="red">
        注：一般开通美国站和英国站就可以获取到美洲和欧洲的所有已开通店铺了
    </p>
    <ul>
        <li><a target="_blank" href="https://developer.amazonservices.com">美国（US）：https://developer.amazonservices.com</a></li>
        <li><a target="_blank" href="https://developer.amazonservices.co.uk">英国（UK）：https://developer.amazonservices.co.uk</a></li>
        <li>法国（FR）：https://developer.amazonservices.fr</li>
        <li>加拿大（CA）：https://developer.amazonservices.ca</li>
        <li>德国（DE）：https://developer.amazonservices.de</li>
        <li>西班牙（ES）：https://developer.amazonservices.es</li>
        <li>印度（IN）：https://developer.amazonservices.in</li>
        <li>意大利（IT）：https://developer.amazonservices.it</li>
        <li>日本（JP）：https://developer.amazonservices.jp</li>
    </ul>
    <p>以美国站点为例，打开美国站网址，点击页面上的【Sign up for MWS】，输入所授权店铺的邮箱和密码完成登录。如图：</p>
    <div class="img">
        <img src="http://z.kershop.com/z/system/application/views/page_img/how_amazon_2.png" class="img-thumbnail">
    </div>
    <div class="img">
        <img src="http://z.kershop.com/z/system/application/views/page_img/how_amazon_3.png" class="img-thumbnail">
    </div>
    <p>登录后将进入如下页面，选中第一条“I want to access ……”并点击【NEXT】。</p>
    <div class="img">
        <img src="http://z.kershop.com/z/system/application/views/page_img/how_amazon_4.png" class="img-thumbnail">
    </div>
    <p>在新页面勾选中“I have read ……”并点击【NEXT】。</p>
    <div class="img">
        <img src="http://z.kershop.com/z/system/application/views/page_img/how_amazon_5.png" class="img-thumbnail">
    </div>
    <p>然后在新页面将看到“Merchant ID（部分站点为Seller ID）”、“AWS Access Key ID”、“Secret Key”，复制到后台即可。</p>
    <p class="red">注：将获取到的这些信息最好保存到文档中备份，以备后期需要</p>
    <div class="img">
        <img src="http://z.kershop.com/z/system/application/views/page_img/how_amazon_6.jpg" class="img-thumbnail">
    </div>
</div>
</body>
</html>